header.masthead {
  background-image: url(../../assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  -moz-background-size: 95% auto;
  -o-background-size: 95% auto;
  -webkit-background-size: 95% auto;
  background-size: 95% auto;
  color: $white;
  margin-top: 140px; // margin-top for clearing the sticky nav
  padding-left: 20px;
  text-align: center;
}

@media screen and (min-width: 992) {
  header.masthead {
    margin-top: 410px; // margin-top for clearing the sticky nav
  }
}

// Hero banner intro text & heading's container:
header.masthead .intro-text {
  padding-bottom: 40px;
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  header.masthead .intro-text {
    padding-bottom: 80px;
    padding-top: 130px;
  }
}
@media screen and (min-width: 768px) {
  header.masthead .intro-text {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}
@media screen and (min-width: 992px) {
  header.masthead .intro-text {
    padding-top: 250px;
  }
}
@media screen and (min-width: 1200px) {
  header.masthead .intro-text {
    padding-top: 350px;
  }
}
@media screen and (min-width: 1500px) {
  header.masthead .intro-text {
    padding-top: 400px;
  }
}

// Hero banner's italic intro text:
header.masthead .intro-text .intro-lead-in {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.2em;
}

@media screen and (min-width: 480px) {
  header.masthead .intro-text .intro-lead-in {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 768px) {
  header.masthead .intro-text .intro-lead-in {
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
  }
}

// Hero banner's main heading text:
header.masthead .intro-text .intro-heading {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 25px;
  margin-top: 15px;
}

@media screen and (min-width: 480px) {
  header.masthead .intro-text .intro-heading {
    font-size: 2em;
  }
}

@media screen and (min-width: 600px) {
  header.masthead .intro-text .intro-heading {
    font-size: 2.4em;
  }
}

@media (min-width:768px) {
  header.masthead .intro-text .intro-heading {
    font-size: 3.4em;
    line-height: 2em;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 992px) {
  header.masthead .intro-text .intro-heading {
    font-size: 4em;
  }
}
