header.masthead {
  background-image: url(/assets/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  color: #fff;
  margin-top: 110px; // margin-top for clearing the sticky nav
  text-align: center;
}

// Hero banner intro text's container:
header.masthead .intro-text {
  padding-bottom: 40px;
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  header.masthead .intro-text {
    padding-bottom: 80px;
    padding-top: 130px;
  }
}
@media screen and (min-width: 768px) {
  header.masthead .intro-text {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

// Hero banner's italic intro text:
header.masthead .intro-text .intro-lead-in {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.2em;
}
@media screen and (min-width: 480px) {
  header.masthead .intro-text .intro-lead-in {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 768px) {
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
  }
}

// Hero banner's main heading text:
header.masthead .intro-text .intro-heading {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 25px;
  margin-top: 15px;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
}
@media screen and (min-width: 480px) {
  header.masthead .intro-text .intro-heading {
    font-size: 2em;
  }
}
@media screen and (min-width: 600px) {
  header.masthead .intro-text .intro-heading {
    font-size: 2.4em;
  }
}
@media (min-width:768px) {
  header.masthead .intro-text .intro-heading {
    font-size: 3.4em;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif
  }
}
