// Vertical alignment of contents to middle:
.vert-mid {
  margin-bottom: auto;
  margin-top: auto;
}

.img-radius {
  border-radius: 5px;
}

.heading-container {
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 2px;
  margin-left: 1%;
  padding-left: 20px;
  position: absolute;
  top: 74%;
  z-index: 4444;
}

.about-main {
  margin-top: 60px;
}
