
html,
body {
  // Needed to eliminate horizontal scrolling on mobile devices
  // I'd say that's pretty important
  // "That's pretty important" ~ Wes
  overflow-x: hidden;
}

body.landing {
  background-color: $landing-bg;
}

body.page {
  background-color: $default-bg;
}
