.blue-link {
  color: $primary-blue;
  font-family: $secondaryfont-stack;
  font-size: 1.1em;
  font-weight: $secondaryfont-weight-bold;
}

.blue-link:hover {
  color: $primary-red;
  text-decoration: none;
}

.schedule-link {
  margin-left: -20px;
}
