/*  TO USE GOOGLE FONTS FOR SITE:
==============================================
    for Open Sans font use:
    font-family: 'Open Sans', sans-serif;

    for Roboto for bold items:
    font-family: 'Roboto', sans-serif;
============================================== */
h3 {
  font-size: 1.6em;
}

.menu-heading {
  color: $primary-red;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
