/*  TO USE GOOGLE FONTS FOR SITE:
==============================================
    Non-bold items use Open Sans font:
    font-family: 'Open Sans', sans-serif;

    for Roboto for bold items and headings:
    font-family: 'Roboto', sans-serif;
    Regular =   font-weight: 400
    Bold =      font-weight: 700
    Black =     font-weight: 900
============================================== */

.page-heading { // This class is applied to h1 level headings
  color: $sub-nav-heading;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: .06em;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  .page-heading {
    font-size: 1.8em;
  }
}

h3 {
  font-size: 1.6em;
}

.menu-heading {
  color: $primary-red;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.nav-link-main { //styles for Main links in mega-nav
  color: $nav-link !important;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1080px) {
  .nav-link-main {
    font-size: .9em;
    }
}

.sub-nav-link {
  color: $sub-nav-heading;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: .06em;
}

@media screen and (min-width: 992px) {
  .sub-nav-link {
    font-size: 1em;
  }
}

.footer-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
  font-weight: 900;
}

.sub-heading {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: .7em;
  font-weight: 400;
  letter-spacing: .01em;
  margin-bottom: 2px;
  padding-top: 5px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .sub-heading {
    font-size: .9em;
  }
}

@media screen and (min-width: 992px) {
  .sub-heading {
    font-size: 1em;
  }
}

@media screen and (min-width: 1200px) {
  .sub-heading {
    font-size: 1.2em;
  }
}

.slide-heading {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .02em;
  text-transform: uppercase;
}

@media screen and (min-width: 360px) {
  .slide-heading {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .slide-heading {
    font-size: 2.1em;
  }
}

@media screen and (min-width: 992px) {
  .slide-heading {
    font-size: 2.8em;
  }
}

@media screen and (min-width: 1200px) {
  .slide-heading {
    font-size: 3em;
  }
}

p {
  font-family: 'Open Sans', sans-serif;
}

.blue-heading {
  color: $primary-blue;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 700;
}

.f-color {
  color: $fa-color;  // Sets color for FontAwesome icons
}

.main-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: $grey-heading;
  font-size: 1.4em;
}

/* Typography for Coaches sections on pages
=========================================== */
.coaches-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: $grey-heading;
  font-size: 1.4em;
}

.coach-name {
  color: $primary-red;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.coach-title {
  color: $grey-heading;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
}

p.general-p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
