/*  TO USE GOOGLE FONTS FOR SITE:
==============================================
    Non-bold items use Open Sans font:
    font-family: 'Open Sans', sans-serif;

    for Roboto for bold items and headings:
    font-family: 'Roboto', sans-serif;
============================================== */
h3 {
  font-size: 1.6em;
}

.menu-heading {
  color: $primary-red;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
  font-weight: 900;
}

p {
  font-family: 'Open Sans', sans-serif;
}

// Sets color for FontAwesome icons
.f-color {
  color: $fa-color;
}

/* Typography for Coaches sections on pages
=========================================== */
.coaches-heading {
  color: $grey-heading;
}

.coach-name {
  color: $primary-red;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.coach-title {
  color: $grey-heading;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
}
