---
layout: sub-nav-landing-fb
baseurl: ../
title: Baseball
description: "KCC offers intercollegiate men's basketball, women's basketball, baseball, softball, men's soccer and volleyball. The Cavaliers compete in Region IV of the NJCAA."
base: baseball
sport: 2
slides:
  - image: uploads/header-bg2.jpg
    alt-text: >-
      Photo of the Cavaliers baseball team celebrating their 2017 NJCAA Division
      II National Championship victory.
    url: 'http://www.kcc.edu'
    text1: 'June 6, 2017 | Baseball'
    text2: 2017 NJCAA DIVISION II <br>NATIONAL CHAMPIONS
  - image: /uploads/baseball-d72-7641.jpg
    alt-text:
    url: '#'
    text1: RHP
    text2: Jake Everaert
  - image: /uploads/baseball-dsc-1335.jpg
    alt-text:
    url: '#'
    text1: Sophomore
    text2: Colin BeDell
  - image: /uploads/baseball-dsc-1315.jpg
    alt-text:
    url:
    text1: Baseball
    text2: Coach Post & Burciaga
---


<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <a href="{{ page.baseurl }}baseball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a></h2>
        <div id="track" class="baseball slick games"></div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News  <a href="{{ page.baseurl }}baseball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'baseball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        <div class="fb-page" data-href="https://www.facebook.com/KankakeeCommunityCollege/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KankakeeCommunityCollege/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KankakeeCommunityCollege/">Kankakee Community College</a></blockquote></div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


    YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/baseball.svg" class="icon-middle" alt="Icon of a baseball" />&#160;&#160;Coaches</h4>
    </div>
    <!-- ========================================================================================
    =============================================================================================
     DO NOT DELETE ANY COACHES OR COACHES' MODALS
    TO REMOVE COACHES USE HTML COMMENTS
    =============================================================================================
  =============================================================================================== -->
    <!-- Coaches containing row -->
    <div class="row">
      <!-- Coach 1 -->
      <!-- Coach 1 outer column -->
      <div class="col-md-4 coaches__col-bottom-margin">
        <!-- Coach 1 row -->
        <div class="row">
          <!-- Coach 1 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach1"><img src="{{page.baseurl}}uploads/todd-post.jpg" alt="Photo of Head Coach Todd Post" class="img-fluid coach-img modal-link editable" title="Photo of Head Coach Todd Post" /></a></div>
          <!-- Coach 1 right info div (inner-right column) -->
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach1" class="modal-link"><h5 class="coach-name editable">Todd&#160;Post</h5>
            <h6 class="coach-title editable">Head Coach</h6></a>
            <p class="editable">
                815‑802‑8616<br />
                tpost@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach1">View Bio</a>
          </div>
        </div>
      </div>
      <!-- Coach 2 -->
      <!-- Coach 2 outer column -->
      <div class="col-md-4 coaches__col-bottom-margin">
        <!-- Coach 2 row -->
        <div class="row">
          <!-- Coach 2 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach2"><img src="{{page.baseurl}}uploads/bryce-shafer.jpg" alt="Photo of Assistant Coach Bryce Shafer" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach Bryce Shafer" /></a></div>
          <!-- Coach 2 right info div (inner-right column) -->
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h5 class="coach-name editable">Bryce&#160;Shafer</h5>
            <h6 class="coach-title editable">Assistant Coach</h6></a>
            <p class="editable">
              815&#8209;802&#8209;8609<br />
              bshafer@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach2">View Bio</a>
          </div>
        </div>
      </div>

        <!-- To add Coach 3:
        Un-comment the following HTML and replace generic picture/info
        ALSO un-comment Coach 3 Modal and edit contents
        ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach3"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" /></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach3" class="modal-link"><h5 class="coach-name editable">Coach 3 Name</h5>
            <h6 class="coach-title editable">Coach 3 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach3">View Bio</a>
          </div>
        </div>


      uncomment to here for Coach 3
      =====================================================================================  -->



  <!-- To add an additional row of Coaches
  un-comment this div row and its closing tag (the HTML surrounded by "=" signs)
  =========================================================
  <div class="row coach-row-marg">
  =========================================================
  Then un-comment any additional coaches needed bellow-->

  <!-- To add Coach 4:
  Un-comment the following HTML and replace generic picture/info
  ALSO un-comment Coach 4 Modal and edit contents
  ==================================================================================
    <div class="col-md-4">
      <div class="row">
        <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach4"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
        <div class="col-6 float-right">
          <a data-toggle="modal" href="#modalCoach4" class="modal-link"><h5 class="coach-name editable">Coach 4 Name</h5>
          <h6 class="coach-title editable">Coach 4 Title</h6></a>
          <p class="editable">
            815&#8209;802&#8209;####<br />
            email@kcc.edu
          </p>
          <a data-toggle="modal" class="btn btn-primary" href="#modalCoach4">View Bio</a>
        </div>


    uncomment to here for Coach 4
    =====================================================================================  -->

    <!-- To add Coach 5:
    Un-comment the following HTML and replace generic picture/info
    ALSO un-comment Coach 5 Modal and edit contents
    ==================================================================================
    <div class="col-md-4">
      <div class="row">
        <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach5"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
        <div class="col-6 float-right">
          <a data-toggle="modal" href="#modalCoach5" class="modal-link"><h5 class="coach-name editable">Coach 5 Name</h5>
          <h6 class="coach-title editable">Coach 5 Title</h6></a>
          <p class="editable">
            815&#8209;802&#8209;####<br />
            email@kcc.edu
          </p>
          <a data-toggle="modal" class="btn btn-primary" href="#modalCoach5">View Bio</a>
        </div>


    uncomment to here for Coach 5
    =====================================================================================  -->

    <!-- To add Coach 6:
    Un-comment the following HTML and replace generic picture/info
    ALSO un-comment Coach 6 Modal and edit contents
    ==================================================================================
    <div class="col-md-4">
      <div class="row">
        <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach6"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
        <div class="col-6 float-right">
          <a data-toggle="modal" href="#modalCoach6" class="modal-link"><h5 class="coach-name editable">Coach 6 Name</h5>
          <h6 class="coach-title editable">Coach 6 Title</h6></a>
          <p class="editable">
            815&#8209;802&#8209;####<br />
            email@kcc.edu
          </p>
          <a data-toggle="modal" class="btn btn-primary" href="#modalCoach6">View Bio</a>
        </div>


    uncomment to here for Coach 6
    =====================================================================================  -->

  <!--  closing div row (for adding extra coach row)
  ========================================================
  </div>
  ======================================================== -->

  <!-- Coach Modals -->
  <!-- Coach Modal 1 -->
<div class="modal fade" id="modalCoach1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="../uploads/todd-post.jpg" alt="Photo of Head Coach Todd Post" class="img-fluid float-left coach-modal-img editable" title="Photo of Head Coach Todd Post" />
        <h5 class="coach-name editable">Todd Post</h5>
        <h6 class="coach-title editable">Head Coach</h6>

        <div class="editable">
            <p>Head Coach Todd Post brings enthusiasm and a passion for the game to the field every day.</p>
            <p>Post has completed 18 seasons as the Cavaliers head coach, with a record of 752-339-6. Prior to becoming head coach in 2001, he was the assistant coach for seven years.</p>
            <p>During Coach Post's tenure, the Cavaliers have averaged more than 41 wins per season, and 153 players have gone on to play at the next level. Since 2001, 64 Cavs have been named All-Region, 26 have been named All-Americans, and nine have signed professional contracts.</p>
            <p>In 2017 Post coached the Cavaliers to the NJCAA Division II National Championship, defeating Mercer County C.C. (N.J.), 11-5 in Enid, Okla. The Cavaliers finished with a record of 54-11-1. In 2009 they finished 3rd at the World Series with a record of 52-14-1. In all, the Cavs have won seven Region IV Championships and have made five World Series appearances.</p>
            <p>Post is a 1987 graduate of Danville Area Community College, where he played basketball for two years. He then attended KCC and began his college baseball career as a pitcher for the Cavaliers in 1988.</p>
            <p>Coach Post transferred to Benedictine University in Lisle where he was a two-year First Team NICC All-Conference pitcher. In 1989, he was named to the All-Midwest Region first team, and Athlete of the Year at Benedictine in 1990. He graduated from Benedictine in 1990 with a bachelor's degree in physical education.</p>
            <p>Post has maintained a connection to professional baseball by working as an associate scout for the last 16 years. Since 2002, he has worked with the San Diego Padres.</p>
            <p>In addition to head coaching duties, Post works with players on hitting and defensive aspects of the game.</p>
            <p>Post also is KCC's athletic director. He resides in rural Kankakee with his wife, Julianne, and their son, Dylan. Their daughter, Jordan, is a registered nurse at Riverside Medical Center in Kankakee.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Coach Modal 2 -->
<div class="modal fade" id="modalCoach2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="../uploads/bryce-shafer.jpg" alt="Photo of Assistant Coach Bryce Shafer" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach Bryce Shafer" />
        <h5 class="coach-name editable">Bryce Shafer</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>

        <div class="editable">
            <p>Coach Shafer is entering his fourth season as an assistant at KCC. Shafer attended Valparaiso University from 2007-10 prior to being selected by the Chicago Cubs in the 2010 Major League Baseball Amateur Draft. In 2010 at Valparaiso, Shafer tallied 121 strikeouts, second-most in Crusader history and third m​ost in Horizon League history, earning him Horizon League Pitcher of the Year and First Team All-Conference honors.</p>
            <p>Shafer pitched in the Cubs organization from 2010 to 2012, posting a career 2.99 ERA and striking out 110 batters in 111.1 innings. In 2013 Shafer pitched for the Frontier Greys and in 2014 for the River City Rascals, both in the Frontier League of Independent Baseball.</p>
            <p>For the Cavaliers, he works with pitchers and catchers and assists with recruiting. Shafer also works as an academic success coach for the Athletic Department. Coach Shafer has a bachelor's degree in psychology from Ft. Hayes State University (2015).</p>
            <p>Coach Shafer resides in Manteno with his wife, Jill, and their son, Carver.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Coach Modal 3
if adding a 3rd Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 3 Name</h5>
        <h6 class="coach-title editable">Coach 3 Title</h6>

        <div class="editable">
            <p>Coach 3 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 3rd coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 4
if adding a 4th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 4 Name</h5>
        <h6 class="coach-title editable">Coach 4 Title</h6>

        <div class="editable">
            <p>Coach 4 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 4th coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 5
if adding a 5th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 5 Name</h5>
        <h6 class="coach-title editable">Coach 5 Title</h6>

        <div class="editable">
            <p>Coach 5 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 5th coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 6
if adding a 6th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 6 Name</h5>
        <h6 class="coach-title editable">Coach 6 Title</h6>

        <div class="editable">
            <p>Coach 6 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 6th coach un-comment to here
=========================================================================================== -->

</section>
