---
layout: landing-fb
baseurl:
title: Athletics
sport: 1
slides:
  - image: uploads/header-bg2.jpg
    alt-text: Baseball Championship
    url: 'http://www.kcc.edu'
    text1: Baseball Championship 2017
    text2: 2017 NJCAA DIVISION II NATIONAL CHAMPIONS
  - image: uploads/header-bg.jpg
    alt-text:
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/header-bg3.jpg
    alt-text:
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/softball-slide-5_D51_3077.jpg
    alt-text:
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/wbasketball-slide-2_D51_0015.jpg
    alt-text:
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/volleyball-slide-3_D4S_6473.jpg
    alt-text:
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem.
  - image: uploads/basketball-slide-4_DSC_3172.jpg
    alt-text:
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
---

<div class="container slider-container nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
    {% for slide in page.slides %}
      <div>
        <img data-lazy="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}">
        <div class="heading-container">
          <h3 class="sub-heading">{{slide.text1}}</h3>
          <h3 class="slide-heading">{{slide.text2}}</h3>
        </div>
      </div>
     {% endfor %}
    </div>
  </div>
</div>

<section class="container content-marg">
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="assets/img/calendar.svg" class="icon-middle" alt="Calendar icon">&#160;Upcoming Games</h2>
        <div id="track" class="slick games" ></div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="assets/img/news.svg" class="icon-middle" alt="News icon">&#160;News</h2>
        <div class="news-scroll">
          <ul>
            {% for post in site.posts %}
            <li class="no-bullet">
              <a href="{{ post.url }}"><img src="{{ post.news_thumb }}" class="news-thumb" alt=""><h2>&#160;{{ post.title }}<h2></a>
              <p>{{ post.description }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="assets/img/social-icon.svg" class="icon-middle" alt="Social media icon">&#160;Social Media</h2>
        <div class="fb-page" data-href="https://www.facebook.com/KankakeeCommunityCollege/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KankakeeCommunityCollege/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KankakeeCommunityCollege/">Kankakee Community College</a></blockquote></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="assets/img/video.svg" class="icon-middle" alt="Video icon">&#160;Videos</h2>
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>
        	</div>

        <!-- YouTube Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
