---
layout: landing-fb
baseurl:
title: Athletics
sport: 1
slides:
  - image: uploads/header-bg2.jpg
    alt-text: Baseball Championship
    url: 'http://athletics.kcc.edu/baseball'
    text1: TESTBaseball Championship 2017
    text2: '2017 NJCAA DIVISION II NATIONAL&#160;CHAMPIONS'
  - image: uploads/header-bg.jpg
    alt-text:
    url: 'http://athletics.kcc.edu/womens-basketball'
    text1: Women's Basketball
    text2: KCC Women's Basketball <br>vs Joliet Junior College
  - image: uploads/header-bg3.jpg
    alt-text:
    url: 'http://athletics.kcc.edu/soccer'
    text1: Soccer
    text2: KCC Cavaliers Soccer <br>vs Joliet Junior College
  - image: uploads/softball-slide-5_D51_3077.jpg
    alt-text:
    url: 'http://athletics.kcc.edu/softball'
    text1: Softball
    text2: 'KCC Softball 2018 team <br>Lindsey Andrews &#35;11'
  - image: uploads/volleyball-slide-3_D4S_6473.jpg
    alt-text:
    url: 'http://athletics.kcc.edu/volleyball'
    text1: Volleyball
    text2: KCC Volleyball vs <br>Olivet Nazarene
  - image: uploads/basketball-slide-4_DSC_3172.jpg
    alt-text:
    url: 'http://athletics.kcc.edu/mens-basketball'
    text1: Men's Basketball
    text2: Men's Basketball <br>vs Kennedy-King
---

<div class="container slider-container nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
    {% for slide in page.slides %}
      {% if forloop.first == true %}
      <div>
        <a href="{{ slide.url }}"><img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}"></a>
        <div class="heading-container">
          <h3 class="sub-heading">{{slide.text1}}</h3>
          <h3 class="slide-heading">{{slide.text2}}</h3>
        </div>
      </div>
      {% else %}
      <div>
        <a href="{{ slide.url }}"><img src="assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}"></a>
        <div class="heading-container">
          <h3 class="sub-heading">{{slide.text1}}</h3>
          <h3 class="slide-heading">{{slide.text2}}</h3>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>

<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="assets/img/calendar.svg" class="icon-middle" alt="Calendar icon">&#160;Upcoming Games
          <div class="btn-group schedule__button-margin" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View All Schedules</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="{{ page.baseurl }}/baseball/schedule">Baseball Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/mens-basketball/schedule">Men's Basketball Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/womens-basketball/schedule">Women's Basketball Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/soccer/schedule">Soccer Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/softball/schedule">Softball Schedule</a>
              <a class="dropdown-item" href="{{ page.baseurl }}/volleyball/schedule">Volleyball Schedule</a>
            </div>
          </div>
        </div>
        </h2>
        <div id="track" class="slick games" ></div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 col-xs-12 news-feed">
        <h2 class="main-heading grey-bg"><img src="assets/img/news.svg" class="icon-middle" alt="News icon">&#160;News  <a href="{{ page.baseurl }}news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
        <div class="news__scroll">
          <ul class="news__list">
            {% for post in site.posts %}
              {% include news-item.html %}
              {% include news-item-modal.html %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 text-sm-center social-marg">
        <h2 class="main-heading text-sm-left"><img src="assets/img/social-icon.svg" class="icon-middle" alt="Social media icon">&#160;Social Media</h2>
        <div class="fb-page" data-href="https://www.facebook.com/KankakeeCommunityCollege/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KankakeeCommunityCollege/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KankakeeCommunityCollege/">Kankakee Community College</a></blockquote></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="assets/img/video.svg" class="icon-middle" alt="Video icon">&#160;Videos</h2>
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>
        	</div>

        <!-- YouTube Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
