---
layout: sub-nav-landing-fb
baseurl: ../
title: "Soccer"
base: soccer
sport: 5
slides:
  - image: uploads/soccer-team-2_D51_3805.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/soccer-slide-2_D72_9565.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/soccer-slide-3_D72_0245.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/soccer-team_D51_3818.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/soccer-slide-5_D51_3186.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem!
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          <div class="heading-container">
            <h3 class="sub-heading">{{slide.text1}}</h3>
            <h3 class="slide-heading">{{slide.text2}}</h3>
          </div>
        </div>
        {% else %}
        <div>
          <img src="assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          <div class="heading-container">
            <h3 class="sub-heading">{{slide.text1}}</h3>
            <h3 class="slide-heading">{{slide.text2}}</h3>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games</h2>
        <div id="track" class="baseball slick games"></div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News</h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'soccer' or post.categories contains 'general' %}
                  <li class="no-bullet news__list-item">
                    <div class="news__cell-left">
                      <a href="{{ post.url }}" class="news__link">
                        <img src="{{ post.news_thumb_image }}" class="news__thumb" alt="" />
                      </a>
                    </div>
                    <div class="news__cell-right">
                      <a href="{{ post.url }}" class="news__link">
                        <h5 class="news__sub-heading news__sub-heading--spacing"> {{ post.sport-category }} &#183; <span class="news__date"> {{ post.date | date: "%B %-d, %Y" }} </span></h5>
                        <h4 class="news__heading">{{ post.title }}<h4>
                        <p class="news__paragraph">{{ post.description }}</p>
                      </h4></h4></a>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        <div class="fb-page" data-href="https://www.facebook.com/KankakeeCommunityCollege/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KankakeeCommunityCollege/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KankakeeCommunityCollege/">Kankakee Community College</a></blockquote></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos</h2>
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>
        	</div>

        <!-- YouTube Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 class="coaches-heading"><img src="{{page.baseurl}}assets/img/soccer.svg" class="icon-middle" alt="" />&#160;&#160;Coaches</h4>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach1"><img src="{{page.baseurl}}uploads/17-mbarclay-coach.jpg" alt="Photo of Head Coach Mike Barclay" class="img-fluid coach-img modal-link editable" /></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach1" class="modal-link"><h5 class="coach-name editable">Mike Barclay</h5>
            <h6 class="coach-title editable">Head Coach</h6></a>
            <p class="editable">815&#8209;802&#8209;8618<br />
            mbarclay@kcc.edu</p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach1">View Bio</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach2"><img src="{{page.baseurl}}uploads/17-jhall-asst.jpg" alt="Photo of Assistant Coach John Hall" class="img-fluid coach-img modal-link editable" /></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h5 class="coach-name editable">John Hall</h5>
            <h6 class="coach-title editable">Assistant Coach</h6></a>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach2">View Bio</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach3"><img src="{{page.baseurl}}uploads/17-kjoseph-asst.jpg" alt="Photo of Assistant Coach Keion Joseph 'Cruz'" class="img-fluid coach-img modal-link editable" /></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach3" class="modal-link"><h5 class="coach-name editable">Keion Joseph "Cruz"</h5>
            <h6 class="coach-title editable">Assistant Coach</h6></a>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach3">View Bio</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row coach-row-marg">
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach4"><img alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" src="/uploads/blank-male-avatar-3.jpg" width="105" height="140" /></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach4" class="modal-link"><h5 class="coach-name editable">James Ashby</h5>
            <h6 class="coach-title editable">Assistant Coach</h6></a>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach4">View Bio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Coach Modals -->
<div class="modal fade" id="modalCoach1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/17-mbarclay-coach.jpg" alt="Photo of Head Coach Mike Barclay." class="img-fluid float-left coach-modal-img editable" />
        <h5 class="coach-name editable">Mike Barclay</h5>
        <h6 class="coach-title editable">Head Coach</h6>
       <br />
        <div class="editable">
          <p>Mike Barclay is entering his fourth year as Head Soccer Coach for the Cavaliers. He was the assistant coach during the 2012 and 2013 seasons.</p>
          <p>Coach Barclay was a three-time all-region, two-time all-sectional and two-time all-state goalie for Downers Grove South High School (1983-85). For three seasons, Coach Barclay played NCAA Division I collegiate soccer for Eastern Illinois University in Charleston. He still holds rankings as no. 1 in saves percentage, no. 2 in goals against average and no. 3 in total saves in EIU history. In 1989, Coach Barclay lead the Panthers to the NCAA Division I National Indoor Championship for the first time in school history. He also played for one season in the semi-pro Chicago Metro League.</p>
          <p>In addition to coaching at KCC, Barclay was the goalkeeper coach for Olivet Nazarene University (Bourbonnais) women's team from 2002-12. He has coached numerous recreational teams for Dynamo Soccer and travel teams for Southland Strikers FC for more than 16 years. Barclay has a U.S. Soccer Federation (USSF) “E” certification. He resides in Bourbonnais, with his wife Tammie and their five children.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCoach2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/17-jhall-asst.jpg" alt="Photo of Assistan Coach John Hall." class="img-fluid float-left coach-modal-img editable" />
        <h5 class="coach-name editable">John Hall</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>
        <div class="editable">
          <p>Coach Hall is entering his third season as an assistant at KCC. Hall comes to the Cavaliers with a diverse background/history in soccer. He is president of Dynamo Soccer League in Bourbonnais, which has served more than 1,000 youth players per year since 2008. Hall is not only a former player for Olivet Nazarene University, but h​as coached numerous travel teams for USSA-DUFC (United Select Soccer Association & Dabrico United Futbol Club), Chicago Magic, and other independent teams. He is a licensed referee, and holds a U.S. Soccer Federation (USSF) "E" license. Hall resides in Bourbonnais with his wife, Cassie, and their four children.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCoach3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/17-kjoseph-asst.jpg" alt="Photo of Assistan Coach Keion Joseph 'Cruz'." class="img-fluid float-left coach-modal-img editable" />
        <h5 class="coach-name editable">Keion Joseph "Cruz"</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>
        <div class="editable">
          <p>A Caribbean native from the island of Trinidad & Tobago and standout player for KCC during the 2010 and 2011 seasons, Cruz will be entering his first year as an assistant coach.</p>
          <p>Cruz is the current director of coaching for Southland FC Strikers and brings five years of coaching experience. He also keeps busy as one of the premier private trainers in the Chicago area by leading Cruz Coaching. He currently resides in Manteno with his fiancé Christina.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCoach4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="coach-name editable">James Ashby</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>
        <div class="editable">
          <p>Coach Ashby, entering his third year as an assistant coach with KCC, has more than 36 years of soccer experience on multiple levels. During his high school career at Rich South High School, Ashby received several recognitions as a center back. One notable honor was National Soccer Coaches Association of America (NSCAA) defensive player of the year. Coach Ashby is a staff coach with Southland Strikers FC and has trained players of all ages, and many of them continue on to the collegiate level.</p>
          <p>Coach Ashby is licensed through the NSCAA and U.S. Soccer Federation (USSF) with specialties in goalkeeping and agility. He currently resides in Manteno with his 3 children.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</section>
