---
layout: sub-nav-landing-fb
baseurl: ../
title: Soccer
description: "KCC offers intercollegiate men's basketball, women's basketball, baseball, softball, men's soccer and volleyball. The Cavaliers compete in Region IV of the NJCAA."
base: soccer
sport: 5
slides:
  - image: uploads/soccer-team-2_D51_3805.jpg
    alt-text:
    url: '#'
    text1: Soccer
    text2: 2017 Sophomores
  - image: uploads/soccer-slide-2_D72_9565.jpg
    alt-text:
    url: '#'
    text1:
    text2: Alexis Molina
  - image: uploads/soccer-slide-3_D72_0245.jpg
    alt-text:
    url: '#'
    text1: Connor Blanchette
    text2: Goal Keeper
  - image: uploads/soccer-team_D51_3818.jpg
    alt-text:
    url: '#'
    text1: '2017'
    text2: KCC Soccer Team
  - image: uploads/soccer-slide-5_D51_3186.jpg
    alt-text:
    url: '#'
    text1:
    text2: '#55 Swearengen'
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}" />
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon" />&#160;Upcoming Games <a href="{{ page.baseurl }}soccer/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a></h2>
        <div id="track" class="baseball slick games"></div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News <a href="{{ page.baseurl }}soccer/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'soccer' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon" />&#160;Social Media</h2>
        <div class="fb-page" data-href="https://www.facebook.com/KankakeeCommunityCollege/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KankakeeCommunityCollege/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KankakeeCommunityCollege/">Kankakee Community College</a></blockquote></div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon" />&#160;Videos
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>


YouTube Modal
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

     -->
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" name="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/soccer.svg" class="icon-middle" alt="" />&#160;&#160;Coaches</h4>
    </div>
    <!-- ========================================================================================
    =============================================================================================
     DO NOT DELETE ANY COACHES OR COACHES' MODALS
    TO REMOVE COACHES USE HTML COMMENTS
    =============================================================================================
  =============================================================================================== -->
    <!-- Coaches containing row -->
    <div class="row">
      <!-- Coach 1 -->
      <!-- Coach 1 outer column -->
      <div class="col-md-4 coaches__col-bottom-margin">
        <!-- Coach 1 row -->
        <div class="row">
          <!-- Coach 1 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach1"><img src="{{page.baseurl}}uploads/17-mbarclay-coach.jpg" alt="Photo of Head Coach Mike Barclay" class="img-fluid coach-img modal-link editable" /></a></div>
          <!-- Coach 1 right info div (inner-right column) -->
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach1" class="modal-link"><h5 class="coach-name editable">Mike Barclay</h5>
            <h6 class="coach-title editable">Head Coach</h6></a>
            <p class="editable">815&#8209;802&#8209;8618<br />
            mbarclay@kcc.edu</p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach1">View Bio</a>
          </div>
        </div>
      </div>
      <!-- Coach 2 -->
      <!-- Coach 2 outer column -->
      <div class="col-md-4 coaches__col-bottom-margin">
        <!-- Coach 2 row -->
        <div class="row">
          <!-- Coach 2 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach2"><img src="{{page.baseurl}}uploads/17-kjoseph-asst.jpg" alt="Photo of Assistant Coach Keion Joseph 'Cruz'" class="img-fluid coach-img modal-link editable" /></a></div>
          <!-- Coach 2 right info div (inner-right column) -->
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h5 class="coach-name editable">Keion Joseph "Cruz"</h5>
            <h6 class="coach-title editable">Assistant Coach</h6></a>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach2">View Bio</a>
          </div>
        </div>
      </div>
      <!-- Coach 3 -->
      <!-- Coach 3 outer column -->
      <div class="col-md-4 coaches__col-bottom-margin">
        <!-- Coach 3 row -->
        <div class="row">
          <!-- Coach 3 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach3"><img alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" src="{{page.baseurl}}uploads/blank-male-avatar.jpg" width="105" height="140" /></a></div>
          <!-- Coach 2 right info div (inner-right column) -->
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach3" class="modal-link"><h5 class="coach-name editable">James Ashby</h5>
            <h6 class="coach-title editable">Assistant Coach</h6></a>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach3">View Bio</a>
          </div>
        </div>
      </div>
    </div>

    <!-- To add an additional row of Coaches
    un-comment this div row and its closing tag (the HTML surrounded by "=" signs)
    =========================================================
    <div class="row coach-row-marg">
    =========================================================
    Then un-comment any additional coaches needed bellow-->

    <!-- To add Coach 4:
    Un-comment the following HTML and replace generic picture/info
    ALSO un-comment Coach 4 Modal and edit contents
    ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach4"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" /></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach4" class="modal-link"><h5 class="coach-name editable">Coach 4 Name</h5>
            <h6 class="coach-title editable">Coach 4 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach4">View Bio</a>
          </div>


      uncomment to here for Coach 4
      =====================================================================================  -->

      <!-- To add Coach 5:
      Un-comment the following HTML and replace generic picture/info
      ALSO un-comment Coach 5 Modal and edit contents
      ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach5"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach5" class="modal-link"><h5 class="coach-name editable">Coach 5 Name</h5>
            <h6 class="coach-title editable">Coach 5 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach5">View Bio</a>
          </div>


      uncomment to here for Coach 5
      =====================================================================================  -->

      <!-- To add Coach 6:
      Un-comment the following HTML and replace generic picture/info
      ALSO un-comment Coach 6 Modal and edit contents
      ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach6"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" />
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach6" class="modal-link"><h5 class="coach-name editable">Coach 6 Name</h5>
            <h6 class="coach-title editable">Coach 6 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach6">View Bio</a>
          </div>


      uncomment to here for Coach 6
      =====================================================================================  -->

    <!--  closing div row (for adding extra coach row)
    ========================================================
    </div>
    ======================================================== -->


  <!-- Coach Modals -->
<div class="modal fade" id="modalCoach1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/17-mbarclay-coach.jpg" alt="Photo of Head Coach Mike Barclay." class="img-fluid float-left coach-modal-img editable" />
        <h5 class="coach-name editable">Mike Barclay</h5>
        <h6 class="coach-title editable">Head Coach</h6>
       <br />
        <div class="editable">
          <p>Mike Barclay is entering his fourth year as Head Soccer Coach for the Cavaliers. He was the assistant coach during the 2012 and 2013 seasons.</p>
          <p>Coach Barclay was a three-time all-region, two-time all-sectional and two-time all-state goalie for Downers Grove South High School (1983-85). For three seasons, Coach Barclay played NCAA Division I collegiate soccer for Eastern Illinois University in Charleston. He still holds rankings as no. 1 in saves percentage, no. 2 in goals against average and no. 3 in total saves in EIU history. In 1989, Coach Barclay lead the Panthers to the NCAA Division I National Indoor Championship for the first time in school history. He also played for one season in the semi-pro Chicago Metro League.</p>
          <p>In addition to coaching at KCC, Barclay was the goalkeeper coach for Olivet Nazarene University (Bourbonnais) women's team from 2002-12. He has coached numerous recreational teams for Dynamo Soccer and travel teams for Southland Strikers FC for more than 16 years. Barclay has a U.S. Soccer Federation (USSF) “E” certification. He resides in Bourbonnais, with his wife Tammie and their five children.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCoach2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/17-kjoseph-asst.jpg" alt="Photo of Assistan Coach Keion Joseph 'Cruz'." class="img-fluid float-left coach-modal-img editable" />
        <h5 class="coach-name editable">Keion Joseph "Cruz"</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>
        <div class="editable">
          <p>A Caribbean native from the island of Trinidad & Tobago and standout player for KCC during the 2010 and 2011 seasons, Cruz will be entering his first year as an assistant coach.</p>
          <p>Cruz is the current director of coaching for Southland FC Strikers and brings five years of coaching experience. He also keeps busy as one of the premier private trainers in the Chicago area by leading Cruz Coaching. He currently resides in Manteno with his fiancé Christina.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCoach3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistan Coach Keion Joseph 'Cruz'." class="img-fluid float-left coach-modal-img editable" />
        <h5 class="coach-name editable">James Ashby</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>
        <div class="editable">
          <p>Coach Ashby, entering his third year as an assistant coach with KCC, has more than 36 years of soccer experience on multiple levels. During his high school career at Rich South High School, Ashby received several recognitions as a center back. One notable honor was National Soccer Coaches Association of America (NSCAA) defensive player of the year. Coach Ashby is a staff coach with Southland Strikers FC and has trained players of all ages, and many of them continue on to the collegiate level.</p>
          <p>Coach Ashby is licensed through the NSCAA and U.S. Soccer Federation (USSF) with specialties in goalkeeping and agility. He currently resides in Manteno with his 3 children.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Coach Modal 4
if adding a 4th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 4 Name</h5>
        <h6 class="coach-title editable">Coach 4 Title</h6>

        <div class="editable">
            <p>Coach 4 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 4th coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 5
if adding a 5th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 5 Name</h5>
        <h6 class="coach-title editable">Coach 5 Title</h6>

        <div class="editable">
            <p>Coach 5 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 5th coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 6
if adding a 6th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 6 Name</h5>
        <h6 class="coach-title editable">Coach 6 Title</h6>

        <div class="editable">
            <p>Coach 6 Bio</p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>



for 6th coach un-comment to here
=========================================================================================== -->

</section>
