---
layout: sub-nav-landing-fb
baseurl: ../
title: "Volleyball"
base: volleyball
sport: 4
slides:
  - image: uploads/volleyball-team2.jpg
    alt-text: ""
    url: '#'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/volleyball-slide-2_D4S_6468.jpg
    alt-text: ""
    url: '#'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/volleyball-slide-3_D4S_6473.jpg
    alt-text: ""
    url: '#'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/volleyball-slide-4D4S_6693.jpg
    alt-text: ""
    url: '#'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/volleyball-slide-5_D4S_6992.jpg
    alt-text: ""
    url: '#'
    text1: Apply here
    text2: Ipsum Lorem
---

<div class="container slider-container sub-nav-marg">
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      {% for slide in page.slides %}
        {% if forloop.first == true %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}">
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% else %}
        <div>
          <a href="{{ slide.url }}">
            <img src="{{page.baseurl}}assets/img/placeholder.png" data-src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}">
          </a>
          <a href="{{ slide.url }}">
            <div class="heading-container">
              <h3 class="sub-heading">{{slide.text1}}</h3>
              <h3 class="slide-heading">{{slide.text2}}</h3>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
  {% for alert in site.alerts %}
    {% if alert.display_alert == true %}
      {% include athletics-alert.html %}
    {% endif %}
  {% endfor %}
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon">&#160;Upcoming Games <a href="{{ page.baseurl }}volleyball/schedule" class="btn btn-primary schedule__button-margin">View Full Schedule</a></h2>
        <div id="track" class="baseball slick games" ></div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon">&#160;News <a href="{{ page.baseurl }}volleyball/news" class="btn btn-primary schedule__button-margin">View All News</a></h2>
          <div class="news__scroll">
            <ul class="news__list">
              {% for post in site.posts %}
                {% if post.categories contains 'volleyball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
          </ul>
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon">&#160;Social Media</h2>
        <div class="fb-page" data-href="https://www.facebook.com/KankakeeCommunityCollege/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KankakeeCommunityCollege/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KankakeeCommunityCollege/">Kankakee Community College</a></blockquote></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon">&#160;Videos</h2>
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="https://www.youtube.com/user/KankakeeCommCollege" target="_blank" rel="noopener">More Athletics Videos</a>
        	</div>

        <!-- YouTube Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 id="coaches" class="coaches-heading link__offset"><img src="{{page.baseurl}}assets/img/volleyball.svg" class="icon-middle" alt="">&#160;&#160;Coaches</h4>
    </div>
    <!-- ========================================================================================
    =============================================================================================
     DO NOT DELETE ANY COACHES OR COACHES' MODALS
    TO REMOVE COACHES USE HTML COMMENTS
    =============================================================================================
  =============================================================================================== -->
    <!-- Coaches containing row -->
    <div class="row">
      <!-- Coach 1 -->
      <!-- Coach 1 outer column -->
      <div class="col-md-4">
        <!-- Coach 1 row -->
        <div class="row">
          <!-- Coach 1 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach1"><img src="{{page.baseurl}}uploads/17-syancy-coach.jpg" alt="Photo of Head Coach Stephenee Yancy" class="img-fluid coach-img modal-link editable"></a></div>
          <!-- Coach 1 right info div (inner-right column) -->
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach1" class="modal-link"><h5 class="coach-name editable">Stephenee Yancy</h5>
            <h6 class="coach-title editable">Head Coach</h6></a>
            <p class="editable">815&#8209;802&#8209;8608<br>
            syancy@kcc.edu</p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach1">View Bio</a>
          </div>
        </div>
      </div>
      <!-- Coach 2 -->
      <!-- Coach 2 outer column -->
      <div class="col-md-4">
        <!-- Coach 2 row -->
        <div class="row">
          <!-- Coach 2 left image div (inner-left column) -->
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach2"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable"></a></div>
          <!-- Coach 2 right info div (inner-right column) -->
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h5 class="coach-name editable">TBD</h5></a>
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h6 class="coach-title editable">Assistant Coach</h6></a>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach2">View Bio</a>
          </div>
        </div>
      </div>

      <!-- To add Coach 3:
      Un-comment the following HTML and replace generic picture/info
      ALSO un-comment Coach 3 Modal and edit contents
      ==================================================================================
      <div class="col-md-4">
      <div class="row">
        <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach3"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" /></a></div>
        <div class="col-6 float-right">
          <a data-toggle="modal" href="#modalCoach3" class="modal-link"><h5 class="coach-name editable">Coach 3 Name</h5>
          <h6 class="coach-title editable">Coach 3 Title</h6></a>
          <p class="editable">
            815&#8209;802&#8209;####<br />
            email@kcc.edu
          </p>
          <a data-toggle="modal" class="btn btn-primary" href="#modalCoach3">View Bio</a>
        </div>
      </div>
      </div>
      </div>
      uncomment to here for Coach 3
      =====================================================================================  -->

    </div>

    <!-- To add an additional row of Coaches
    un-comment this div row and its closing tag (the HTML surrounded by "=" signs)
    =========================================================
    <div class="row coach-row-marg">
    =========================================================
    Then un-comment any additional coaches needed bellow-->

    <!-- To add Coach 4:
    Un-comment the following HTML and replace generic picture/info
    ALSO un-comment Coach 4 Modal and edit contents
    ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach4"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" /></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach4" class="modal-link"><h5 class="coach-name editable">Coach 4 Name</h5>
            <h6 class="coach-title editable">Coach 4 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach4">View Bio</a>
          </div>
        </div>
      </div>
      uncomment to here for Coach 4
      =====================================================================================  -->

      <!-- To add Coach 5:
      Un-comment the following HTML and replace generic picture/info
      ALSO un-comment Coach 5 Modal and edit contents
      ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach5"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" /></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach5" class="modal-link"><h5 class="coach-name editable">Coach 5 Name</h5>
            <h6 class="coach-title editable">Coach 5 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach5">View Bio</a>
          </div>
        </div>
      </div>
      uncomment to here for Coach 5
      =====================================================================================  -->

      <!-- To add Coach 6:
      Un-comment the following HTML and replace generic picture/info
      ALSO un-comment Coach 6 Modal and edit contents
      ==================================================================================
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach6"><img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid coach-img modal-link editable" title="Photo of Assistant Coach" /></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach6" class="modal-link"><h5 class="coach-name editable">Coach 6 Name</h5>
            <h6 class="coach-title editable">Coach 6 Title</h6></a>
            <p class="editable">
              815&#8209;802&#8209;####<br />
              email@kcc.edu
            </p>
            <a data-toggle="modal" class="btn btn-primary" href="#modalCoach6">View Bio</a>
          </div>
        </div>
      </div>
      uncomment to here for Coach 6
      =====================================================================================  -->

    <!--  closing div row (for adding extra coach row)
    ========================================================
    </div>
    ======================================================== -->

  </div>
  <!-- Coach Modals -->
<div class="modal fade" id="modalCoach1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/17-syancy-coach.jpg" alt="Photo of Head Stephenee Yancy" class="img-fluid float-left coach-modal-img editable">
        <h5 class="coach-name editable">Stephenee Yancy</h5>
        <h6 class="coach-title editable">Head Coach</h6>
       <br>
        <div class="editable">
          <p>Stephenee Yancy is in her first season as Head Coach of the Cavaliers.</p>
          <p>A four-year letter winner at Kankakee High School, Yancy still holds school records for kills, blocks, and points. She was a two-time All-Conference honoree, two-time All-Area selection and selected as an AAU (Amateur Athletic Union) All-American at the 18 Club level, where she played for Ultimate VBC.</p>
          <p>Coach Yancy started in college at Western Michigan University, where she was Mid-American Conference Freshman of the Year and on the MAC All-Freshman Team. During that time, Yancy also was named to the 2013 USA Volleyball Junior National A1 Team.</p>
          <p>Her junior and senior seasons, Yancy played for University of Illinois at Chicago. As a junior, she was an American Volleyball Coaches Association All-Region Honorable Mention. Yancy finished the year with national rankings for kills (24th, with 512), kills per set (20th, with 4.38) and attack percentage (56th, with .358). The same season, Yancy put down double-digit kills in all 31 matches.</p>
          <p>Her senior season, Yancy was a team captain and led UIC and the Horizon League in kills per set (4.37). She ranked second in the conference in hitting percentage (.366) and ninth in blocks per set (0.89).</p>
          <p>For both of her seasons at UIC, the Horizon League named Yancy Player of the Year or Co-Player of the year in addition to placement on the All-Conference first team.  The UIC record books list Yancy’s accomplishments 16 times, including single season records in kills (no. 3 & 6, with 544 and 512), hitting percentage (no. 1 & 2 with .371 and .358), solo blocks (no. 10 with 27); a career record in hitting percentage (no. 1 with .365), and a single match record in kills (33). She has the 13th most kills in Flames history (1,056), and led the team in kills and blocks each season.</p>
          <p>Yancy finished her college career in 2015. She was selected by her peers as UIC female athlete of the Year and was one of only 36 players in the nation picked by USA Volleyball to participate in the U.S. Collegiate National Team program.</p>
          <p>Yancy holds a bachelor’s degree in criminal justice from UIC. She also played professionally in the Prerov Czech Republic for one season.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalCoach2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach Alexia Campbell" class="img-fluid float-left coach-modal-img editable">
        <h5 class="coach-name editable">TBD</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>
        <div class="editable">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Coach Modal 3
if adding a 3rd Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 3 Name</h5>
        <h6 class="coach-title editable">Coach 3 Title</h6>

        <div class="editable">
            <p>Coach 3 Bio</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
for 3rd coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 4
if adding a 4th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 4 Name</h5>
        <h6 class="coach-title editable">Coach 4 Title</h6>

        <div class="editable">
            <p>Coach 4 Bio</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
for 4th coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 5
if adding a 5th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 5 Name</h5>
        <h6 class="coach-title editable">Coach 5 Title</h6>

        <div class="editable">
            <p>Coach 5 Bio</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
for 5th coach un-comment to here
=========================================================================================== -->

<!-- Coach Modal 6
if adding a 6th Coach un-comment this modal
===========================================================================================
<div class="modal fade" id="modalCoach6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/blank-male-avatar.jpg" alt="Photo of Assistant Coach" class="img-fluid float-left coach-modal-img editable" title="Photo of Assistant Coach" />
        <h5 class="coach-name editable">Coach 6 Name</h5>
        <h6 class="coach-title editable">Coach 6 Title</h6>

        <div class="editable">
            <p>Coach 6 Bio</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
for 6th coach un-comment to here
=========================================================================================== -->

</section>
