---
layout: sub-nav-landing-fb
baseurl: ../
title: "Women's Basketball"
base: womens-basketball
sport: 6
slides:
  - image: uploads/wbasketball-team_DSC_0226.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/wbasketball-slide-3_D51_9772.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/wbasketball-slide-2_D51_0015.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/banner_wbasketball.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
  - image: uploads/header-bg.jpg
    alt-text: ""
    url: 'http://www.kcc.edu'
    text1: Apply here
    text2: Ipsum Lorem
---

<div class="container slider-container sub-nav-marg">
  <a href="http://www.njcaa.org/landing/index" class="njcaa-link" target="_blank" rel="noopener"><img src="{{page.baseurl}}assets/img/njcaa-shieldlogo_150.png" class="njcaa-logo" alt="NJCAA logo, link to region 4 standings"></a>
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
    {% for slide in page.slides %}
      <div>
        <img src="{{page.baseurl}}{{slide.image}}" class="img-fluid slide-img" alt="{{slide.alt-text}}">
        <div class="heading-container">
          <h3 class="sub-heading">{{slide.text1}}</h3>
          <h3 class="slide-heading">{{slide.text2}}</h3>
        </div>
      </div>
     {% endfor %}
    </div>
  </div>
</div>

<!--  Content  -->
<section class="container content-marg">
    <div class="row schedule-row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/calendar.svg" class="icon-middle" alt="Calendar icon">&#160;Upcoming Games</h2>
        <div id="track" class="baseball slick games" ></div>
      </div>
    </div>
    <div class="row news-social-row">
      <div class="col-md-8 news-feed">
        <h2 class="main-heading grey-bg"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon">&#160;News</h2>
          <div class="news-scroll">
            {% for item in site.news %}
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            <p><a href="{{ item.url }}">{{ item.title }}</a></p>
            {% endfor %}
          </div>
      </div>
      <div class="col-md-4">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/social-icon.svg" class="icon-middle" alt="Social media icon">&#160;Social Media</h2>
        <div class="fb-page" data-href="https://www.facebook.com/KankakeeCommunityCollege/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KankakeeCommunityCollege/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KankakeeCommunityCollege/">Kankakee Community College</a></blockquote></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="wrapper">
          <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/video.svg" class="icon-middle" alt="Video icon">&#160;Videos</h2>
        	<div id="yt_list" class="yt_list">
        	</div>
        		<a class="btn btn-primary yt-button" href="http://youtube.com">More Athletics Videos</a>
        	</div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                		<iframe id="yt_player"></iframe>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- Coaches Section -->
<section class="coach-section">
  <div class="container">
    <div class="row text-left">
      <h4 class="coaches-heading"><img src="{{page.baseurl}}assets/img/basketball.svg" class="icon-middle" alt="">&#160;&#160;Coaches</h4>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach1"><img src="{{page.baseurl}}uploads/10-ddenson-coach.jpg" alt="Photo of Coach Donnie Denson" class="img-fluid coach-img modal-link"></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach1" class="modal-link"><h5 class="coach-name">Donnie Denson</h5>
            <h6 class="coach-title">Head Coach</h6></a>
            <p>815&#8209;802&#8209;8614<br>
            ddenson@kcc.edu</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach2"><img src="{{page.baseurl}}uploads/10-wshipman-asst.jpg" alt="Photo of Assistant Coach Walt Shipman" class="img-fluid coach-img modal-link"></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h5 class="coach-name">Walt Shipman</h5>
            <h6 class="coach-title">Assistant Coach</h6></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach3"><img src="{{page.baseurl}}uploads/14-cmeister-asst.jpg" alt="Photo of Assistant Coach Casey Meister" class="img-fluid coach-img modal-link"></a></div>
          <div class="col-6 float-right">
            <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h5 class="coach-name">Casey Meister</h5>
            <h6 class="coach-title">Assistant Coach</h6></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Coach Modals -->
<div class="modal fade" id="modalCoach1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/10-ddenson-coach.jpg" alt="Photo of Head Coach Chris Gardner" class="img-fluid float-left coach-modal-img">
        <h5 class="coach-name editable">Donnie Denson</h5>
        <h6 class="coach-title editable">Head Coach</h6>
        <p>815&#8209;802&#8209;8614<br>
        ddenson@kcc.edu</p><br>
        <div class="editable">
          <p>A native of the Peoria area, Donnie Denson has worked at KCC for the past 25 years, and is proud to call Kankakee home.</p>
          <p>Being employed by the college has brought about many positive experiences over the years for Denson. This is the 25th  season he has been associated with the women’s basketball team in some capacity. He was an assistant coach of the Lady Cavaliers from 1997 until being named head coach for the 2000-01 season.</p>
          <p>Over the last 18 seasons with Denson at the helm, the Lady Cavaliers have compiled a 441-128 record, and a winning percentage of .775. He has continued to build upon the program's history of success, and the Cavaliers have won the Region IV championship 21 times in the last 27 years.</p>
          <p>Denson came to KCC as a Fitness Center specialist and athletic trainer in 1992, and is currently the assistant athletic director.</p>
          <p>Denson graduated from Farmington East High School in Farmington. He earned a bachelor’s degree from Eureka College. He resides in Kankakee with his wife, Deb, and their son, David.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCoach2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/10-wshipman-asst.jpg" alt="Photo of Assistant Coach Walt Shipman" class="img-fluid float-left coach-modal-img">
        <h5 class="coach-name editable">Walt Shipman</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>
        <div class="editable">
          <p>Walt Shipman, in his eighth season for the Cavaliers, came to us after serving four years as the assistant women’s basketball coach at South Suburban College. Previously, he served as the head sophomore and assistant varsity girls basketball coach at Rich Central High School and then at Marian Catholic High School.</p>
          <p>In addition to coaching high school and college, he organized and served as the first president of the Babe Ruth League in the Quad Cities; managed baseball for 20 years, first in the Quad Cities and then in Homewood; served two terms as president of the Homewood-Flossmoor High School Booster Club and currently is sponsor of the Homewood Small Fry Basketball program, after coaching there 15 years.</p>
          <p>Walt is assistant executive director on the International Small Fry Board of Directors and is a member of the Illinois Basketball Coaches Association and the NCAA Women’s Basketball Coaches Association. Walt and his wife, Ruth, reside in Crete.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCoach3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{page.baseurl}}uploads/14-cmeister-asst.jpg" alt="Photo of Assistant Coach Casey Meister" class="img-fluid float-left coach-modal-img">
        <h5 class="coach-name editable">Casey Meister</h5>
        <h6 class="coach-title editable">Assistant Coach</h6>
        <div class="editable">
          <p>A former KCC player, Casey Hadley Meister is in her fourth season as women's basketball assistant coach. Meister has experience as a community college, NCAA Division I, and NAIA Division I athlete. With her playing and coaching experience, she provides guidance to the student-athletes on reaching the next level, plus valuable input and game planning for the staff.</p>
          <p>Meister has six years coaching experience at Tri-Point High School, 2008-11 as an assistant and 2011-14 as head coach. As assistant for her father, Marcus Hadley, Tri-Point went from a few wins per season to a .500 record. Then, while she was head coach, Tri-Point became even more competitive and finished second in the River Valley Conference all three seasons. Three players from Tri-Point also attended KCC on basketball scholarships during this time.</p>
          <p>Meister graduated from Reed-Custer High School in 2004 with multiple basketball honors including All-State two times. She still holds the scoring record for the Kankakee All-Area All-Star game (34 points).</p>
          <p>She played for Coach Denson and the Lady Cavaliers from 2004-06. At KCC, Meister was named to the All-Region team (2005) and was MVP of the Region Tournament in 2006. She earned NJCAA All-American honors in 2005 and 2006. She also played in the national tournament in 2006.</p>
          <p>Meister continued her basketball career with a scholarship to Chicago State University. She then played her senior year at Olivet Nazarene University. That team won the Chicagoland Collegiate Athletic Conference Tournament, was nationally ranked, and went to the CCAC National Tournament (2008).</p>
          <p>Meister is an art teacher at Tri-Point High School and lives in Cullom with her husband, Todd, and their two beautiful twin girls, Hadley and Harper.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</section>
