//  TO USE GOOGLE FONTS FOR SITE:
//==============================================
//fall back font stack for site
$basefont-stack: 'Open Sans', sans-serif;
$base-font-size: 1em;
//secondary font stack for site
$secondaryfont-stack: 'Roboto', sans-serif;
$secondaryfont-weight-regular: 400;
$secondaryfont-weight-bold: 700;
$secondaryfont-weight-black: 900;

//Image path for most of global style sheet
$imagedir:'/assets/img/';

//KCC colors
$primary-blue: #0f3b63;       // Dark blue
$primary-red: #c61f48;        // Dark red
$accent-blue: #005bac;        // Blue used in all links and link buttons;
$accent-blue-bright: #227dce; // Blue used in all links hovers and link hovers buttons;
$accent-light-blue: #95a9ca;

$white: #fff;
$black: #000;

$bgcolor: $white;               // White backgrounds

$whitefont: $white;           // Color of font that is on a dark background color/image
$gradient-btm: #2798ff;        // Bottom blue color for gradient
$light-visited: #9fbfff;       // Light link color for visited links against dark background Colors
$hlf-border: $black;            // Half border color for .half-border h2 elements on why-fastpath page.

$menuh2: $white;                // Full-menu overlay heading links color
$link-text: $primary-blue;
$button-color: $primary-blue;
$btn-hover: $accent-blue;
$btn-visited: $white;
$landing-bg: #e5e8ed;        // Landing page's background-color
$default-bg: $white;        // Background color for non-landing pages
$footer-bg: $white;         // Footer's background color
$grey-heading: #666;      // Grey headings used within page content
$fa-color: $primary-red;
$slide-bg: $white;            // Background color for the upcoming games slick slides
$sub-nav-heading: $white;     // Font color for h1.page-heading heading of sub-nav
$nav-link: $white;            // Color for nav-link-main links in mega-nav

body.landing {
  background-color: $landing-bg;
}

body.page {
  background-color: $default-bg;
}
