// Sport facilities page specific styles
.sports-facilities-container {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .sports-facilities-container {
    margin-top: 220px;
  }
}

.row-marg {
  margin-bottom: 20px;
}
