<!-- About-specific sub-nav -->
<div class="container-fluid sub-nav">
  <div class="row filler">&#160;</div>
  <div class="row sub-nav-row mx-auto">
    <div class="col-md-4 text-center">
      <h1 class="page-heading">{{ page.base }}</h1>
    </div>
    <div class="col-md-8">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/student-athletes" class="nav-link sub-nav-link">Student-Athlete Experience</a>
        </li>
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/equity" class="nav-link sub-nav-link">Equity in Athletics</a>
        </li>
        <li class="nav-item">
          <a href="{{page.baseurl}}{{page.base}}/staff" class="nav-link sub-nav-link">Staff Directory</a>
        </li>
        <li class="nav-item">
          <a target="_blank" rel="noopener" href="https://form.jotform.com/72415108814957" class="nav-link sub-nav-link">Alumni Survey</a>
        </li>
      </ul>
    </div>
  </div>
</div>
