<!-- Accordian module still in development -->
<div class="container">
  <div class="row">
    <div class="col">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 id="membership" class="mb-0 main-heading">
              <button id="plusButton" class="btn btn-link buttons__btn-link-custom" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span id="plusMinus" class="buttons__blue-plus">+</span>&#160;Membership
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <div class="editable">
                <h2 id="membership2" name="membership2" class="main-heading">Become a Member</h2>
              </div>
              <div>
                <p>Sign up at KCC's Accounting Office (second floor of the college) and at the Fitness Center, located in the Ice Valley Centre at 1601 River Road, Kankakee.</p>
                <br/>
              </div>
              <h3 class="blue-heading"><strong>Membership Options</strong></h3>
              <p>KCC offers the following membership packages to non-student members of the community.</p>
              <table class="mv-Table-6" cellspacing="0" cellpadding="3" bordercolor="#808080" border="1">
                  <tbody>
                      <tr class="mv-TableHeaderRow-6">
                          <th class="mv-TableHeaderEvenCol-6" rowspan="1" colspan="1">Package</th>
                          <th class="mv-TableHeaderOddCol-6" rowspan="1" colspan="1">Monthly</th>
                          <th class="mv-TableHeaderEvenCol-6" rowspan="1" colspan="1">Annual</th>
                      </tr>
                      <tr class="mv-TableOddRow-6">
                          <td class="mv-TableEvenCol-6">Individual (16 - 59 yrs.)</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$25</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">$275</td>
                      </tr>
                      <tr class="mv-TableEvenRow-6">
                          <td class="mv-TableEvenCol-6">Couple</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$45</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">$495</td>
                      </tr>
                      <tr class="mv-TableOddRow-6">
                          <td class="mv-TableEvenCol-6">Family (up to 2 parents and 3 children,<br />16 yrs. and older)</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$80</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">$880</td>
                      </tr>
                      <tr class="mv-TableEvenRow-6">
                          <td class="mv-TableEvenCol-6">Additional dependent</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$15</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">$165</td>
                      </tr>
                      <tr class="mv-TableOddRow-6">
                          <td class="mv-TableEvenCol-6">Senior (60 yrs. and older)</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$9</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">$99</td>
                      </tr>
                      <tr class="mv-TableEvenRow-6">
                          <td class="mv-TableEvenCol-6">U.S. military veterans</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$9</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">$99</td>
                      </tr>
                      <tr class="mv-TableOddRow-6">
                          <td class="mv-TableEvenCol-6">KCC graduates</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$20</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">$220</td>
                      </tr>
                      <tr class="mv-TableEvenRow-6">
                          <td class="mv-TableEvenCol-6" rowspan="1">​KCC staff</td>
                          <td class="mv-TableOddCol-6" rowspan="1" valign="middle" align="center">Free​</td>
                          <td class="mv-TableEvenCol-6" rowspan="1" valign="middle" align="center">​</td>
                      </tr>
                      <tr class="mv-TableOddRow-6">
                          <td class="mv-TableEvenCol-6">Daily Pass</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$5/day</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">&nbsp;</td>
                      </tr>
                  </tbody>
              </table>
              <p>&nbsp;</p>
              <h4 class="blue-heading-small">Student Options</h4>
              <p>KCC students can choose to:</p>
              <ul>
                  <li>
                      <p>sign up as a member</p>
                  </li>
                  <li>
                      <p>enroll in the fitness center course and earn college credit</p>
                  </li>
              </ul>
              <table class="mv-Table-6" cellspacing="0" cellpadding="3" bordercolor="#808080" border="1">
                  <tbody>
                      <tr class="mv-TableHeaderRow-6">
                          <th class="mv-TableHeaderEvenCol-6" rowspan="1" colspan="1">Option<span>​</span><span>​</span></th>
                          <th class="mv-TableHeaderOddCol-6" rowspan="1" colspan="1">Spring or Fall</th>
                          <th class="mv-TableHeaderEvenCol-6" rowspan="1" colspan="1">Summer</th>
                      </tr>
                      <tr class="mv-TableOddRow-6">
                          <td class="mv-TableEvenCol-6">KCC students (as member)</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">$80</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">$40</td>
                      </tr>
                      <tr class="mv-TableEvenRow-6">
                          <td class="mv-TableEvenCol-6">KCC students (as course enrollee)</td>
                          <td class="mv-TableOddCol-6" valign="middle" align="center">current tuition rate<br />for 1 credit hour<br />+ $20 fee</td>
                          <td class="mv-TableEvenCol-6" valign="middle" align="center">current tuition rate<br />for 1 credit hour<br />+ $20 fee</td>
                      </tr>
                  </tbody>
              </table>
              <p>&nbsp;</p>
              <h3 class="blue-heading">Fitness Center for College Credit</h3>
              <p>You can earn college credit for working out. Your workout schedule is up to you. After an initial orientation, there are no set meeting times. Work out as often as you'd like.</p>
              <p>Cost</p>
              <p>The Fitness Center class is the cost of one semester of college credit plus a $20 course fee.</p>
              <p>Semesters are:</p>
              <p>Fall: August - December</p>
              <p>Spring: January - May</p>
              <p>Summer: June - July</p>
              <p>High school students earn college credit</p>
              <p>For high school students, Fitness Center credits can be held in escrow until you graduate, then the credits can be applied as college credits at KCC or another college.</p>
              <p>Registration</p>
              <p>To join, register and pay at KCC's Department of Student Services, Riverfront Campus, 100 College Drive, Kankakee, Illinois.</p>
              <p>First-time registration</p>
              <p>Students enrolling in the Fitness Center course for the first time must schedule an assessment and orientation session. Contact the Fitness Center at 802-8610 to make an appointment.</p>
              <p>Orientations usually begin about a week before the semester begins and must be complete before using the Fitness Center. To be considered enrolled in the course, students must begin Fitness Center sessions within the first week of the semester start date.</p>
              <p>To re-enroll, <a target="_blank" href="/uploads/fitnesscenter-re-enroll.pdf">complete the re-enrollment form </a>(either online or by filling out a printed copy), print and bring with you when you register. Forms are also available in the Fitness Center and Student Services Department.</p>
              <p>Personal fitness assessment and orientation</p>
              <p>After you have registered, schedule your 60-minute orientation by phoning 815-802-8610 or stopping by the Fitness Center. Orientation times are 8:30 a.m., 10:30 a.m., 4 p.m. and 5:30 p.m.</p>
              <p>A member of the Fitness Center staff will take you through a fitness assessment which includes: girth, height, weight, resting heart rate and body fat composition.</p>
              <p>You will receive a tour of the Fitness Center and locker rooms along with an explanation of our 21 Life Fitness cable-assisted lifting machines.</p>
              <p>Please allow 60 minutes for the assessment and orientation. The orientation counts toward your fitness center grade.</p>
              <p>Grades</p>
              <p>At registration you are asked to choose one of the following grade options:</p>
              <p>Pass/Fail - to pass, complete 20 hours of exercise throughout the semester</p>
              <p>Traditional letter grade - to receive an A, complete 25 hours or more of exercise throughout the semester</p>
              <p>Your grade is based on the option you choose and the amount of time you exercise throughout the semester.</p>
              <p>A - 25 hours or more</p>
              <p>B - 22-24:59 hours</p>
              <p>C - 20-21:59 hours</p>
              <p>D - 17-19:59 hours</p>
              <p>F - 16:59 hours or less</p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 id="personal-trainers" name="personal-trainers" class="mb-0 main-heading">
              <button id="plusButton2" class="btn btn-link collapsed buttons__btn-link-custom" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span id="plusMinus2" class="buttons__blue-plus">+</span>&#160;Personal Trainers & Staff
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="editable">
                <h2 id="personal-trainers" name="personal-trainers" class="main-heading">Personal Trainers and Staff</h2>
                <p>Our personal trainers can help you reach your fitness goals. In addition to being certified professionals and/or having the appropriate degrees, our trainers stay current with the latest fitness trends and training techniques.</p>
                <p><img width="655" height="250" class="img-fluid" src="/uploads/dsc-0173-home.jpg" /></p>
                <h5>Rates</h5>
                <p>Training sessions are one hour. You will have an initial consultation to discuss specific fitness goals. Up to three people can participate in a session. Rates are:</p>
                <table class="mv-Table-6" cellspacing="0" bordercolor="#808080" border="1">
                    <tbody>
                        <tr class="mv-TableHeaderRow-6">
                            <th class="mv-TableHeaderEvenCol-6" rowspan="1" colspan="1">​No. of Persons</th>
                            <th class="mv-TableHeaderOddCol-6" rowspan="1" colspan="1">​1 session</th>
                            <th class="mv-TableHeaderEvenCol-6" rowspan="1" colspan="1">​5 sessions</th>
                            <th class="mv-TableHeaderOddCol-6" rowspan="1" colspan="1">​10 sessions</th>
                        </tr>
                        <tr class="mv-TableOddRow-6">
                            <td class="mv-TableEvenCol-6" rowspan="1" colspan="1">​1</td>
                            <td class="mv-TableOddCol-6">​$30</td>
                            <td class="mv-TableEvenCol-6">$135​</td>
                            <td class="mv-TableOddCol-6" colspan="1">$260​</td>
                        </tr>
                        <tr class="mv-TableEvenRow-6">
                            <td class="mv-TableEvenCol-6" rowspan="1" colspan="1">​2</td>
                            <td class="mv-TableOddCol-6">​$25/person</td>
                            <td class="mv-TableEvenCol-6">$110/person​</td>
                            <td class="mv-TableOddCol-6" colspan="1">​$210/person</td>
                        </tr>
                        <tr class="mv-TableOddRow-6">
                            <td class="mv-TableEvenCol-6" rowspan="1" colspan="1">​3</td>
                            <td class="mv-TableOddCol-6">​$20/person</td>
                            <td class="mv-TableEvenCol-6">​$85/person</td>
                            <td class="mv-TableOddCol-6" colspan="1">​$160/person</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <h3 class="blue-heading"><strong>Why Personal Training?</strong></h3>
                <p>Using a personal trainer will help you maximize your time and effort at the gym, giving you tremendous value.</p>
                <ul>
                    <li>Reach your fitness goals faster</li>
                    <li>Achieve better results</li>
                    <li>Keep your workouts fresh and motivating</li>
                    <li>Save time with a thorough, pre-planned workout</li>
                </ul>
                <h3 class="blue-heading"><strong>Fitness Assessment</strong></h3>
                <p>A fitness assessment evaluates physical fitness components such as height, weight, body fat composition, resting heart rate, balance, muscle strength and endurance. Cost is $35.</p>
                <p>Questions/Appointments</p>
                <p>Contact Yvonne Mills, personal trainer manager</p>
                <h3 class="blue-heading"><strong>Staff</strong></h3>

                <div class="row">
                  <!-- Coach 1 -->
                  <!-- Coach 1 outer column -->
                  <div class="col-md-6 coaches__col-bottom-margin">
                    <!-- Coach 1 row -->
                    <div class="row">
                      <!-- Coach 1 left image div (inner-left column) -->
                      <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach1"><img src="{{page.baseurl}}uploads/10-ddenson-coach.jpg" alt="Photo of Coach Donnie Denson" class="img-fluid staff-img modal-link editable" /></a></div>
                      <!-- Coach 1 right info div (inner-right column) -->
                      <div class="col-6 float-right">
                        <a data-toggle="modal" href="#modalCoach1" class="modal-link"><h5 class="coach-name editable">Donnie Denson</h5>
                        <h6 class="coach-title editable">Director</h6></a>
                        <p class="editable">815&#8209;802&#8209;8614<br />
                        ddenson@kcc.edu</p>
                        <a data-toggle="modal" class="btn btn-primary" href="#modalCoach1">View Bio</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 coaches__col-bottom-margin">
                    <!-- Coach 1 row -->
                    <div class="row">
                      <!-- Coach 1 left image div (inner-left column) -->
                      <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach2"><img src="{{page.baseurl}}uploads/dsc-0659yvonne-mills.jpg" alt="Photo of Yvonne Mills" class="img-fluid staff-img modal-link editable" title="Photo of Yvonne Mills" /></a></div>
                      <!-- Coach 1 right info div (inner-right column) -->
                      <div class="col-6 float-right">
                        <a data-toggle="modal" href="#modalCoach2" class="modal-link"><h5 class="coach-name editable">Yvonne Mills</h5>
                        <h6 class="coach-title editable">Personal Trainer Manager</h6></a>
                        <p class="editable">
                            815‑802‑8610<br />
                            ymills@kcc.edu
                        </p>
                        <a data-toggle="modal" class="btn btn-primary" href="#modalCoach2">View Bio</a>
                      </div>
                    </div>
                  </div>
                  <!-- Coach 2 -->
                  <!-- Coach 2 outer column -->

                </div>
                <div class="row">
                  <div class="col-md-6 coaches__col-bottom-margin">
                    <!-- Coach 2 row -->
                    <div class="row">
                      <!-- Coach 2 left image div (inner-left column) -->
                      <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach3"><img src="{{page.baseurl}}uploads/candice-brackett-bio-page-2.jpg" alt="Photo of ​Candice Brackett" class="img-fluid staff-img modal-link editable" title="Photo of ​Candice Brackett" /></a></div>
                      <!-- Coach 2 right info div (inner-right column) -->
                      <div class="col-6 float-right">
                        <a data-toggle="modal" href="#modalCoach3" class="modal-link"><h5 class="coach-name editable">Candice Brackett</h5>
                        <h6 class="coach-title editable">Fitness Specialist <br/>Athletic Trainer</h6></a>
                        <p class="editable">
                          815&#8209;802&#8209;8610<br />
                          cbrackett@kcc.edu
                        </p>
                        <a data-toggle="modal" class="btn btn-primary" href="#modalCoach3">View Bio</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 coaches__col-bottom-margin">
                    <!-- Coach 3 row -->
                    <div class="row">
                      <!-- Coach 3 left image div (inner-left column) -->
                      <div class="col-6 float-left"><a data-toggle="modal" href="#modalCoach4"><img src="{{page.baseurl}}uploads/dsc-0248-francine.jpg" alt="Photo of Francine Castongia" class="img-fluid staff-img modal-link editable" title="Photo of Francine Castongia" /></a></div>
                      <!-- Coach 3 right info div (inner-right column) -->
                      <div class="col-6 float-right">
                        <a data-toggle="modal" href="#modalCoach4" class="modal-link"><h5 class="coach-name editable">Francine Castongia</h5>
                        <h6 class="coach-title editable">Fitness Specialist <br/>&#160;</h6></a>
                        <p class="editable">
                          815&#8209;802&#8209;8610<br />
                          fcastongia@kcc.edu
                        </p>
                        <a data-toggle="modal" class="btn btn-primary" href="#modalCoach4">View Bio</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Coach Modals -->
                <!-- Coach modal 1 -->
                <div class="modal fade" id="modalCoach1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="{{page.baseurl}}uploads/10-ddenson-coach.jpg" alt="Photo of Donnie Denson" class="img-fluid float-left coach-modal-img editable" />
                        <h5 class="coach-name editable">Donnie Denson</h5>
                        <h6 class="coach-title editable">Director</h6>

                      <br />
                        <div class="editable">
                          <p>A native of the Peoria area, Donnie Denson has worked at KCC for the past 25 years, and is proud to call Kankakee home.</p>
                          <p>Being employed by the college has brought about many positive experiences over the years for Denson. This is the 25th  season he has been associated with the women’s basketball team in some capacity. He was an assistant coach of the Lady Cavaliers from 1997 until being named head coach for the 2000-01 season.</p>
                          <p>Over the last 18 seasons with Denson at the helm, the Lady Cavaliers have compiled a 441-128 record, and a winning percentage of .775. He has continued to build upon the program's history of success, and the Cavaliers have won the Region IV championship 21 times in the last 27 years.</p>
                          <p>Denson came to KCC as a Fitness Center specialist and athletic trainer in 1992, and is currently the assistant athletic director.</p>
                          <p>Denson graduated from Farmington East High School in Farmington. He earned a bachelor’s degree from Eureka College. He resides in Kankakee with his wife, Deb, and their son, David.</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Coach modal 2 -->
                <div class="modal fade" id="modalCoach2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="{{page.baseurl}}uploads/dsc-0659yvonne-mills.jpg" alt="Photo of Yvonne Mills" class="img-fluid float-left coach-modal-img editable" />
                        <h5 class="coach-name editable">Yvonne Mills</h5>
                        <h6 class="coach-title editable">Personal Trainer Manager</h6>
                      <br />
                        <div class="editable">
                          <p>An ACE certified personal trainer and sports conditioning specialist, Yvonne has been making fitness fun for more than 20 years. Yvonne's experience includes: strength training, teaching aerobics, teaching kickboxing, and working as a personal and group trainer. She holds a black belt in Tang Soo Do and has competed in powerlifting and bodybuilding competitions.</p>
                          <p>Yvonne earned a bachelor&rsquo;s degree in physical education from Olivet Nazarene University.</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Coach modal 3 -->
                <div class="modal fade" id="modalCoach3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="{{page.baseurl}}uploads/candice-brackett-bio-page-2.jpg" alt="Photo of Candice Brackett" class="img-fluid float-left coach-modal-img editable" />
                        <h5 class="coach-name editable">Candice Brackett</h5>
                        <h6 class="coach-title editable">Fitness Specialist <br/>Athletic Trainer</h6>
                      <br />
                        <div class="editable">
                          <p>&#160;</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Coach modal 4 -->
                <div class="modal fade" id="modalCoach4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="{{page.baseurl}}uploads/dsc-0248-francine.jpg" alt="Photo of Francine Castongia" class="img-fluid float-left coach-modal-img editable" />
                        <h5 class="coach-name editable">Francine Castongia</h5>
                        <h6 class="coach-title editable">Fitness Specialist</h6>
                      <br />
                        <div class="editable">
                          <p>&#160;</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 id="testimonials" name="testimonials" class="mb-0 main-heading">
              <button id="plusButton3" class="btn btn-link collapsed buttons__btn-link-custom" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span id="plusMinus3" class="buttons__blue-plus">+</span>&#160;Testimonials
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div class="editable">
                <h2 id="testimonials" name="testimonials" class="main-heading">Testimonials</h2>
                <p>Read how our members reached their fitness goals at KCC's comfortable and well-equipped fitness center with the help of our knowledgeable, supportive personal trainers. &nbsp;</p>
                <p>Lamanda Garcia<em><br />&ldquo;Yvonne was an amazing coach. She pushed me each class.&rdquo;</em></p>
                <p>Donna Schmidt<em><br />&ldquo;I have lost inches, gained muscle mass and become much stronger with LESS aches and pain.&rdquo;</em></p>
                <p>Carolyn Jacobson<em><br />&ldquo;...We know that having a safe and effective work-out propels you into a fuller and more rewarding life. And this is exactly what using KCC&rsquo;s Fitness Center and working with Yvonne have done for me. &rdquo;</em></p>
                <p>John Kessler<em><br />&ldquo;After three months, I could tell that things were improving. After six months I feel stronger, my balance has improved and I've lost some weight.&rdquo;</em></p>
                <p>Mike Wickliff<em><br />&ldquo;I recommend any athlete or person, to sign up for training sessions with Ms. Yvonne. I guarantee you will get better in the area you are trying to improve.&rdquo;</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
