<div class="container slider-container">
  <a href="http://region4sports.com/landing/index" class="njcaa-link" target="_blank" rel="noopener"><img src="{{page.baseurl}}assets/img/njcaa-shieldlogo_150.png" class="njcaa-logo" alt="NJCAA logo, link to region 4 standings"></a>
  <div class="row slider-row">
    <div class="col-md-12 baseballSlider">
      <div>
        <img src="{{page.baseurl}}assets/img/header-bg2.jpg" class="img-fluid slide-img" alt="">
      </div>
      <div>
        <img src="{{page.baseurl}}assets/img/baseball-hero2.jpg" class="img-fluid slide-img" alt="">
      </div>
      <div>
        <img src="{{page.baseurl}}assets/img/baseball-hero3.jpg" class="img-fluid slide-img" alt="">
      </div>
    </div>
  </div>
</div>
