<div class="container global-nav fixed-top">
  <!-- Doesn't work yet
    <div class="row search-row collapse" id="search">
    <div class="col-md-12">
      <form>
        <input class="form-control mr-sm-2" type="search" placeholder="Search Athletics" aria-label="Search">
      </form>
    </div>
  </div>  -->
  <div class="row">
    <div class="col-xs-6">
      <a class="clickable" href="http://www.kcc.edu"><img src="{{page.baseurl}}assets/img/kankakee-community-college-word-logo.svg" class="img-fluid kcc-logo" alt="Kankakee Community College link to home page"></a>
      <!--  <form class="form-inline">
        <input class="form-control mr-sm-2 local-search" type="search" placeholder="&#xF002; Search Athletics" aria-label="Search">
      </form>  -->
    </div>
    <div class="col-xs-6 text-right">
      <a href="{{page.baseurl}}"><img src="{{page.baseurl}}assets/img/cavaliers-logo_white.png" class="center-logo d-xs-inline d-lg-none" alt="KCC Cavaliers logo link to main athletics page"></a>
      <!-- Doesn't work yet
      <a id="searchButton" class="search" data-toggle="collapse" data-target="#search" aria-expanded="false" aria-controls="search"><i class="fas fa-search text-white"></i></a>  -->
    </div>
  </div>
</div>
