<div class="container slider-container">
  <a href="http://region4sports.com/landing/index" class="njcaa-link" target="_blank" rel="noopener"><img src="assets/img/njcaa-shieldlogo_150.png" class="njcaa-logo" alt="NJCAA logo, link to region 4 standings"></a>
  <div class="row slider-row">
    <div class="col-md-12 heroSlider">
      <div>
        <img src="assets/img/header-bg.jpg" class="img-responsive slide-img" alt="">
      </div>
      <div>
        <img src="assets/img/header-bg2.jpg" class="img-responsive slide-img" alt="">
      </div>
      <div>
        <img src="assets/img/header-bg3.jpg" class="img-responsive slide-img" alt="">
      </div>
    </div>
  </div>
</div>
