<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  {% include global-nav.html %}
  <div class="container clear-global">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><span><img src="{{site.baseurl}}/assets/img/cavaliers-logo-shadow.svg" class="logo" alt=""></span></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="dropdown nav-item nav-padding"><a href="#" class="dropdown-toggle nav-link pad-left js-scroll-trigger" data-toggle="dropdown" role="button" aria-expanded="false">Sports<span class="caret"></span></a>
          <div class="full-dropdown-menu" role="menu">
            <a class="drop-item" href="#">2d Design</a>
            <a class="drop-item" href="#">3d Design</a>
            <a class="drop-item" href="#">Web Development</a>
            <a class="drop-item" href="#">Separated link</a>
            <a class="drop-item" href="#">One more separated link</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/nav-test/"><span>Mega&#160;Nav</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
