<section class="schedule-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <caption>Table caption</caption>
            <thead class="schedule-pages__table-header">
            <th scope="col">Date</th>
            <th scope="col">Opponent</th>
            <th scope="col" class="text-right" style="paddding-right:10px;">Time</th>
            <th scope="col">Where</th>
            <th scope="col">Status</th>
            <th scope="col">Game Summary</th>
            </thead>
            <tbody id="track-table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
