<!-- About-specific sub-nav -->
<div class="container-fluid sub-nav">
  <div class="row filler">&#160;</div>
  <div class="row sub-nav-row mx-auto">
    <div class="col-md-6 text-center">
      <h1 class="page-heading">Support Athletics</h1>
    </div>
    <div class="col-md-6">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="{{page.baseurl}}/{{page.base}}/student-athletes" class="nav-link sub-nav-link">Cash Bash</a>
        </li>
        <li class="nav-item">
          <a href="{{page.baseurl}}/{{page.base}}/equity" class="nav-link sub-nav-link">Cavalier Club</a>
        </li>
      </ul>
    </div>
  </div>
</div>
