.sports-section {
  margin-top: 200px;    // Clear the mega-nav
}

.sports-caption {
  background-color: #fff;
  margin: 0 auto;
  max-width: 400px;
  padding: 25px;
  text-align: center;
}

.sports-blurb {
  text-align: left;
}

.jump-link-span {
  margin-left: 10px;
  margin-right: 10px;
}

a.jump-links {
  color: $primary-blue;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  text-decoration: none !important;
  &:hover {
    color: $primary-red;
  }
}
