.global-nav {
  background-color: $primary-red;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  min-width: 100%;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 1000;
}

.kcc-logo {
  max-width: 100%;
}

.form-inline {
  float: right;
}

.local-search {
  border-radius: 1.5em;
}
