.global-nav {
  background-color: $primary-red;
  height: 56px;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  min-width: 100%;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-top: 15px;
  width: 100%;
  z-index: 1031;
}

@media screen and (min-width: 992px) {
  .global-nav {
    background-color: transparent;
    padding-top: 28px;
    pointer-events: none;
  }
}

.kcc-logo {
  margin-left: -5px;
  width: 190px;
}

@media screen and (min-width: 360px) {
  .kcc-logo {
    width: 220px;
  }
}

@media screen and (min-width: 488px) {
  .kcc-logo {
    width: 260px;
  }
}

@media screen and (min-width: 576px) {
  .kcc-logo {
    width: 300px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
  .kcc-logo {
    margin-left: -25px;
    width: 310px;
  }
}

@media screen and (min-width: 1100px) {
  .kcc-logo {
    margin-left: -25px;
    width: 340px;
  }
}

.form-inline {
  float: right;
}

.local-search {
  border-radius: 1.5em;
}

.search {
  font-size: 1.2em;
  margin-right: 40%;
}

.clearSearch {
  background-position: center 72px;
  padding-top: 72px;
}

.search-row {
  background-color: $accent-blue;
  height: 46px;
}
