.hero-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 142px;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 1400px) {
  .hero-section {
    max-width: 1300px;
  }
}

.hero-container {
  padding-left: 0;
  padding-right: 0;
}

.hero-row {
  margin-left: 0;
  margin-right: 0;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
