// Mega Nav displays expanded at 992px and larger
// 991px and lower displays the "hamburger" mobile-style menu
//===================================================

.navbar {
  background-color: $primary-blue;
  margin-top: 56px; // make room for the global-nav in mobile view
  z-index: 1032;
}

@media screen and (min-width: 992px) {
  .navbar {
    background-color: transparent;
    background-image: url(../../assets/img/menu-bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 3840px 271px;
    height: 251px;
    margin-top: 0;
    min-height: 251px;
    pointer-events: none;
    z-index: 1030;
  }
}

@media screen and (min-width:992px) {
  .navbar-nav {
    margin-top: -100px;
  }
}
// adds some margin below the link sets
// bad copy-paste selector here:
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: .8rem;
}

.navbar .dropdown-menu {
  background-color: #f5f6f8 !important;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-width: 1400px;
}

// breakpoint and up - mega dropdown styles
@media screen and (min-width: 992px) {

  // remove the padding from the navbar so the dropdown hover state is not broken
  .navbar {
    padding-bottom: 0;
  }

  // remove the padding from the nav-item and add some margin to give some breathing room on hovers
  .navbar .nav-item {
    margin: 0 .25rem;
    padding: .5rem .5rem;
  }

@media screen and (min-width: 992px) {
    .navbar .nav-item {
      margin-top: 12px;
      padding-bottom: 12px;
    }
}

  // makes the dropdown full width
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    border: none;
    left: 0;
    right: 0;
  // height of nav-item
    top: 50px;
    width: 90%;
  }

  @-webkit-keyframes meganav {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes meganav {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
}

// shows the dropdown menu on hover
@media screen and (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-name: meganav;
    animation-name: meganav;
    display: block !important;
  }
}

.dropdown:hover,
.dropdown:hover a.nav-link {
  background-color: #f5f6f8;
  color: $primary-blue;
}

@media screen and (min-width: 992px) {
  .drop-pad {
    padding-top: 25px;
  }
}

.nav-row {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

@media screen and (min-width: 992px) {
  .nav-row {
    // border-bottom: 2px $primary-blue solid;
    line-height: .5em;
    margin-bottom: 12px;
  }
}

.mega-nav__nav-row--bottom-border {
  // Set to relative for using :before pseudo-class to make border-bottom shorter than element
  // (So the bottom border doesn't span the full length)
  position: relative;
}

@media screen and (min-width: 992px) {
  .mega-nav__nav-row--bottom-border::before {
    // Styling to make bottom-border not the full width of element per design mockups
    border-bottom-color: $primary-blue;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    bottom: 0;
    content: "";
    height: 1px;
    left: 20px;
    position: absolute;
    width: 75%;
  }
}

.mega-nav__nav-row--half-bottom-border {
  position: relative;
}

@media screen and (min-width: 992px) {
  .mega-nav__nav-row--half-bottom-border::before {
    // Styling to make bottom-border not the full width of element per design mockups
    border-bottom-color: $primary-blue;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    bottom: 0;
    content: "";
    height: 1px;
    left: 10px;
    position: absolute;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .mega-nav__sport-link--no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.mega-nav__sport-name--margin-right {
  margin-right: 15px;
}

@media screen and (min-width: 992px) {
  // brings the two "Men's Sports" and "Women's Sports" ul.flex-columns more toward the center of their dropdown menus
  .mega-nav__flex-column-left--margin {
    margin-left: 80px;
    margin-right: -80px; // offsets the scrunching that the margin-left causes
  }
}

@media screen and (min-width: 992px) {
  // brings the two "Men's Sports" and "Women's Sports" ul.flex-columns more toward the center of their dropdown menus
  .mega-nav__flex-column-right--margin {
    margin-left: 40px;
    margin-right: -40px; // offsets the scrunching that the margin-left causes
  }
}

// Custom hamburger menu color
// Custom color is needed to make hamburger menu display against the dark blue background color behind it
// Without the .custom-toggler class the hamburger menu will not be visible
.custom-toggler.navbar-toggler {
  // Border color of the hamburger menu
  border-color: $navbar-toggler-border-color;
}

.custom-toggler .navbar-toggler-icon {
  // Color of the 3 lines that make up the hamburger (stroke='rgba(255,255,255,0.7)')
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dark-text {
  color: $primary-blue !important;
}

.dark-text:hover {
  color: $primary-red !important;
}

.nav-img {
  margin-left: 0;
  margin-top: 20px;
}

@media screen and (min-width: 1100px) {
  .nav-img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1281px) {
  .nav-img {
    margin-left: -20px;
  }
}

@media screen and (min-width: 1600px) {
  .nav-img {
    margin-left: -80px;
  }
}

.no-pad {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.facilities-drop-pad {
  padding-top: 80px;
}

.donate-drop-pad {
  padding-top: 80px;
}

.about-drop-pad {
  padding-top: 50px;
}

@media screen and (min-width: 992px) {
  .nav-split {
    margin-right: 340px !important;
  }
}

.center-logo {
  right: 10px;
  position: absolute;
  top: 10px;
  width: 100px;
}

@media screen and (min-width: 360px) {
  .center-logo {
    right: 20px;
  }
}

@media screen and (min-width: 488px) {
  .center-logo {
    top: 5px;
    width: 110px;
  }
}

@media screen and (min-width: 576px) {
  .center-logo {
    width: 130px;
  }
}

@media screen and (min-width: 992px) {
  .center-logo {
    top: auto;
    left: 50%; // center the absolutely positioned item
    margin-left: -105px;  // offset the width of the item to make true center
    margin-top: -115px; // position it vertically
    width: 210px;
  }
}

// Don't display the dropdown carrots for menu items
.dropdown-toggle::after {
  display: none;
}

@media screen and (min-width: 992px) {
  .clickable {
    margin-left: auto;
    margin-right: auto;
    pointer-events: auto;
  }
}

.recruit-pad {
  padding-top: 20px;
}
