// News Rollup Styles
// =====================================

.news__list {
  padding-left: 0;
}

.news__list-item {
  margin-bottom: 10px;
}

.news__cell-left {
  display: table-cell;
  padding-right: 10px;
  vertical-align: top;
}

.news__cell-right {
  border-bottom-style: solid;
  border-bottom-width: thin;
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.news__thumb {
  clear: both;
  float: left;
  width: 140px;
  vertical-align: baseline;
}

@media screen and (min-width: 992px) {
  .news__thumb {
    width: 230px;
  }
}

@media screen and (min-width: 992px) {
  .news__modal-thumb {
    max-width: 200px;
  }
}

.news__scroll {
  background-color: $white;
  height: 495px;
  margin-top: -13px;
  max-height: 495px;
  overflow-y: scroll;
}

@media screen and (min-width: 992px) {
  .news__scroll {
    margin-right: -15px;
  }
}

.news__sub-heading--spacing {
  margin-bottom: 0;
  padding-top: 5px;
}

.news__date {
  text-transform: none;
}

.news__modal-thumb {
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 200px;
}
