.schedule-row {
  margin-bottom: 40px;
}

.games {
  background: $grey-3;
  display: block;
  height: 160px;
  margin: 0 auto;
  width: 100%;
}

.slick.slide {
  background-color: $slide-bg;
  margin: 10px;
}


.schedule-carousel__title {
  color: $primary-red;
  font-family: $secondaryfont-stack;
  font-size: 1.6rem;
  font-weight: $secondaryfont-weight-bold;
  padding-top: 10px;
}

.schedule-carousel__sport {
  border-bottom: 1px solid #666673;
  color: #666673;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 3px;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.schedule-carousel__sport-icon {
  color: $primary-red;
}

.schedule-carousel__date-blue {
  background-color: $primary-blue;
  color: $white;
  float: left;
  height: 140px;
  line-height: 1;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: auto;
}

.schedule-carousel__date-red {
  background-color: $primary-red;
  color: $white;
  float: left;
  height: 140px;
  line-height: 1;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: auto;
}

.schedule-carousel__date-month {
  font-size: .9em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.schedule-carousel__date-day {
  font-family: $secondaryfont-stack;
  font-size: 2em;
  font-weight: $secondaryfont-weight-boldish;
}

.schedule-carousel__time {
  color: $primary-red;
  font-family: $secondaryfont-stack;
  font-weight: $secondaryfont-weight-boldish;
  text-transform: lowercase;
}
