.schedule-container {
  margin-top: 10px;
}

@media screen and (min-width: 992px) {
  .schedule-container {
    margin-top: 190px;
  }
}

.schedule__date-red,
.schedule__date-blue {
  color: $white;
}

.schedule__date-red {
  background-color: $primary-red;
}

.schedule__date-blue {
  background-color: $primary-blue;
}
