/* Styles for both the .heroSlider and .baseballSlider
   slick carousels
============================================== */
.slider-container {
  margin-top: 60px;
  padding-left: 0;
  padding-right: 0;
}

.index-slider-container {
  margin-top: 140px;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 1400px) {
  .slider-container {
    max-width: 1300px;
  }
}

@media screen and (min-width: 1400px) {
  .index-slider-container {
    max-width: 1300px;
  }
}

.slider-row {
  margin-left: 0;
  margin-right: 0;
}

.heroSlider .slide-img,
.baseballSlider .slide-img {
  position: relative;
  width: 100%;
}

.heroSlider .slick-next,
.baseballSlider .slick-next {
  right: 25px;
}

.heroSlider .slick-prev,
.baseballSlider .slick-prev {
  left: 25px;
  z-index: 4;
}

.heroSlider .slick-next,
.heroSlider .slick-prev,
.baseballSlider .slick-next,
.baseballSlider .slick-prev {
  height: 40px;
  top: 80%;
  width: 40px;
}

.heroSlider .slick-dots li button:before,
.baseballSlider .slick-dots li button:before {
  line-height: 30px;
  color: $landing-bg;
  font-size: 12px;
  opacity: 1;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.heroSlider .slick-dots li.slick-active button:before,
.baseballSlider .slick-dots li.slick-active button:before {
  color: $primary-blue;
  opacity: 1;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.heroSlider .slick-dots li,
.baseballSlider .slick-dots li  {
  padding-left: 0;
  padding-right: 0;
  margin-left: 1px;
  margin-right: 1px;
}

.njcaa-link {
  position: absolute;
  z-index: 1000;
  right: 15%;
  margin-top: 30px;
}

@media screen and (min-width:1600px) {
  .njcaa-link {
    right: 20%;
  }
}

@media screen and (min-width:1900px) {
  .njcaa-link {
    right: 25%;
  }
}

@media screen and (min-width:1200px) {
  .njcaa-logo {
    width: 175px;
  }
}

@media screen and (min-width:1600px) {
  .njcaa-logo {
    width: 200px;
  }
}

#track {
  background: #f1f2f7;
    height: 140px;
}
