.sub-nav {
  background-color: $primary-red;
  position: relative;
  top: -5px;
  z-index: 1029;
}

@media screen and (min-width: 992px) {
  .sub-nav {
    position: fixed;
  }
}

.sub-nav-row {
  margin-top: 110px;
}
