/* Predefined styles available for content editors in CloudCannon */
h2.content__heading {
    /* Importants added to test CloudCannon CMS */
  color: #666 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.4em !important;
  font-weight: 400 !important;
}
