/* Predefined styles available for content editors in CloudCannon */
h3.content-heading {
    /* Importants added to test CloudCannon CMS */
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
}
