---
layout: sub-nav
baseurl: ../../
title: Softball News
base: softball
---

<section class="container sub-nav-marg">
  <div class="row">
      <div class="col-md-12">
        <h2 class="main-heading"><img src="{{page.baseurl}}assets/img/news.svg" class="icon-middle" alt="News icon" />&#160;News</h2>
          <div>
            <ul>
              {% for post in site.posts %}
                {% if post.categories contains 'softball' or post.categories contains 'general' %}
                  {% include news-item.html %}
                  {% include news-item-modal.html %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div>
  </div>
</section>
