.coach-section {
  padding-bottom: 40px;
  padding-top: 40px;
}

.f-red {
  color: $primary-red;
}

.coach-img {
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.coach-modal-img {
  border-style: solid;
  border-color: $primary-red;
  border-width: 5px;
  margin-right: 20px;
}
