---
layout: sub-nav
baseurl: ../../
title: Softball Roster
description: "KCC offers intercollegiate men's basketball, women's basketball, baseball, softball, men's soccer and volleyball. The Cavaliers compete in Region IV of the NJCAA."
base: softball
---

<section id="table-area" class="roster-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% assign mydata=site.data.softball-roster %}
        <div class="table-responsive">
          <table class="table table-striped table-hover">
              <caption>Table caption</caption>
              <thead>
              {% for column in mydata[0] %}
                  <th>{{ column[0] }}</th>
              {% endfor %}
              </thead>
              <tbody>
              {% for row in mydata %}
                  <tr>
                  {% for cell in row %}
                      <td>{{ cell[1] }}</td>
                  {% endfor %}
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
