{% include head.html %}
  <body data-sn="{{ page.sport }}" id="page-top" class="page">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRL8533"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include global-nav.html %}
  {% include mega-nav.html %}
  {% include sub-nav.html %}
  {{ content }}
  {% include footer.html %}
  {% include vendor-scripts.html %}
  {% include schedule-page-script.html %}
  <script src="{{page.baseurl}}assets/js/lazyLoadOnly.js"></script>
  <script src="{{page.baseurl}}assets/js/stickyTableHeader.js"></script>
  <script src="{{page.baseurl}}assets/js/stickyTableCustom.js"></script>
{% include foot.html %}
