.content-marg {
  margin-bottom: 40px;
  margin-top: 40px;
}

.card-header {
  background-color: $primary-red;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.card {
  border-radius: 10px 10px;
}

.scroll-table {
  height: 500px;
  overflow-y: scroll;
}

.news-feed {
  background-color: white;
}

.grey-bg {
  background-color: #e5e8ec;
  margin-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.news-social-row {
  margin-bottom: 40px;
}
