.content-marg {
  margin-bottom: 40px;
  margin-top: 40px;
}

.card-header {
  background-color: $primary-red;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.card {
  border-radius: 10px 10px;
}

.scroll-table {
  height: 500px;
  overflow-y: scroll;
}
