.content-marg {
  margin-bottom: 40px;
  margin-top: 40px;
}

.icon-middle {
  vertical-align: middle;
}

// .card-header {
//   background-color: $primary-red;
//   border-top-left-radius: 10px !important;
//   border-top-right-radius: 10px !important;
// }

// .card {
//   border-radius: 10px;
//  }

.scroll-table {
  height: 500px;
  overflow-y: scroll;
}

.news-feed {
  margin-bottom: 40px;
}

.grey-bg {
  background-color: #e5e8ec;
  margin-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.no-bullet {
  list-style-type: none;
}

.yt-button {
  margin-left: 15px;
}

.inline-thumb {
  display: inline-block;
}

.social-marg {
  margin-bottom: 40px;
}

.schedule__button-margin {
  margin-left: 40px;
}
