.schedule-row {
  margin-bottom: 40px;
}

.games {
  // background-color: $white;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.slick.slide {
  background-color: $slide-bg;
  margin: 10px;
}

.schedule-carousel__sport {
  border-bottom: 1px solid #666673;
  color: #666673;
  font-size: 15px;
  font-weight: bold;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.schedule-carousel__sport-icon {
  color: $primary-red;
}

.schedule-carousel__date-blue {
  background-color: $primary-blue;
  color: $white;
  float: left;
  height: 120px;
  line-height: 1;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: auto;
}

.schedule-carousel__date-red {
  background-color: $primary-red;
  color: $white;
  float: left;
  height: 120px;
  line-height: 1;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: auto;
}

.schedule-carousel__date-month {
  font-size: 1.1em;
  margin-bottom: 0;
}

.schedule-carousel__date-day {
  font-size: 2em;
}
