.schedule-row {
  margin-bottom: 40px;
}

.games {
  // background-color: white;
  width: 99%;
  margin: 0 auto;
  display: block;
}

.slick.slide {
  background-color: $slide-bg;
  margin: 10px;
}

.schedule-carousel__sport {
 color: #666673;
  border-bottom: 1px solid #666673;
 font-weight: bold;
 font-size: 15px;
 overflow: hidden;
  text-transform: uppercase;
 text-overflow: ellipsis;
 white-space: nowrap;
 max-width: 60%;
}

.schedule-carousel__sport-icon {
  color: #c61f48;
}

.schedule-carousel__date-blue{
  background-color: #0f3b63;
  color: #ffffff;
  float: left;
  height: 120px;
  width: auto;
  Text-align: center;
  margin-right: 10px;
  padding: 5px;
  line-height: 1;
}
.schedule-carousel__date-red{
  background-color: #c61f48;
  color: #ffffff;
  float: left;
  height: 120px;
  width: auto;
  Text-align: center;
  margin-right: 10px;
  padding: 5px;
  line-height: 1;
}

.schedule-carousel__date-month{
  margin-bottom: 0;
  font-size: 1.1em;
}
.schedule-carousel__date-day{
  font-size: 2em;
}
