#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  width: 100%;
}

#yt_list {
  height: 260px;
  list-style: none;
  margin-bottom: 10px;
  right: 0;
  top: 0;
}

@media screen and (min-width: 375px) {
  #yt_list {
    min-height: 280px;
  }
}


@media screen and (min-width: 412px) {
  #yt_list {
    min-height: 320px;
  }
}

@media screen and (min-width: 481px) {
  #yt_list {
    min-height: 350px;
  }
}

@media screen and (min-width: 768px) {
  #yt_list {
    min-height: 460px;
  }
}

@media screen and (min-width: 992px) {
  #yt_list {
    min-height: 260px;
  }
}

@media screen and (min-width: 1200px) {
  #yt_list {
    min-height: 300px;
  }
}

#yt_list_bb {
  height: 290px;
  list-style: none;
  margin-bottom: 10px;
  right: 0;
  top: 0;
}

.item {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  float: left;
  height: auto;
  margin: 10px;
  min-height: 0;
  padding: 15px;
  width: 300px;
}

@media screen and (min-width: 992px) {
  .item {
    min-height: 235px;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    min-height: 270px;
  }
}

.item > a > img {
  width: 100%;
}

.item:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.video-details {
  font-size: 18px;
}

.video-carousel__title {
  color: #c61f48;
  font-size: 17px;
  font-weight: bold;
  padding-top: 10px;
}

div#channel_input > input#user_name.error {
  background: rgba(0, 0, 0, 0.5);
  border-color: #d33;
  color: #d33;
  text-decoration: line-through;
}

div#channel_input > div.info {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: none;
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em;
  transition: 225ms;
  width: calc(100% - 2em);
}

button#load-more {
  border: 1px solid;
  display: block;
  font-size: 2em;
  margin: .5em auto;
  outline: none;
  padding: .5em;
}

@media screen and (orientation: portrait) {
 #yt_player {
   height: 40vh;
	 width: 100%;
 }

 #yt_list {   // DO NOT DEFINE A WIDTH HERE OR BAD THINGS WILL HAPPEN
   bottom: 0;
   left: 0;
	 top: auto;
 }
 #yt_list_bb {
  bottom: 0;
  height: 59vh;
  left: 0;
  top: auto;
  width: 800px;
 }

 .item {
 }
}

.slick-next {
  right: -10px;
}

.slick-prev {
  left: -10px;
}

@media screen and (orientation: portrait) and (max-width: 468px) {
 .item {
	 height: auto;
	 width: calc(100% - 50px);
 }
}
